[2013-04-05 23:48] lvillani opened #1 "MSI Installer"
Provide an MSI installer since it's the only sane way to let people install this program without having to manually download the installer or resort to some VBScript/PowerShell trickery (the former is cumbersome, the latter may not be available on all versions of Windows, plus it's goddamn slow, generally ugly, unnecessarily complicated and hard to memorize).

They will just have to run `msiexec.e

[2013-04-07 14:28] lvillani opened #2 "Just-install installation directory is not being added to PATH"
The MSI installer doesn't add JustInstall to the `%PATH%`.

[2013-04-07 14:29] lvillani opened #3 "Compress just-install.exe with UPX"

[2013-04-07 14:42] #1 closed, assigned to lvillani

[2013-04-10 16:59] lvillani opened #4 "Add WinSCP to the catalog"

[2013-04-10 17:00] lvillani opened #5 "Sometimes progress reports goes over 100%"

[2013-04-10 17:05] lvillani opened #6 "Document the Catalog file format"

[2013-04-10 17:09] lvillani opened #7 "PATH Handling"
Provide a new catalog entry so that just-install can manage the System path by appending entries to an AutoRun script for cmd.exe.

Do not edit the PATH environment variable as set in the Registry, just-install should not fiddle by itself with these settings. Leave the responsibility up to the package itself.

Reference: http://technet.microsoft.com/en-us/library/cc779439(v=ws.10).aspx

[2013-04-11 09:25] lvillani opened #8 "Switch to x86 edition of SQL Server Express 2008"
The x64 edition has problems on virtualized instances of Windows Server 2008R2.

Add a note on why the x86 edition is used inside the catalog file.

[2013-04-11 09:27] lvillani opened #9 "Add new supported installer type to catalog: wrapped installer"
Some installers are wrapped inside a zip file (as is the case with the Colemak keyboard layout). Add support for this kind of installers.

[2013-04-11 09:29] lvillani opened #10 "Add Strawberry Perl to the catalog"

[2013-04-11 13:24] lvillani opened #11 "Qt 4.8.4 should be installed interactively"
The Qt (NSIS) installer doesn't seem to run some post installation tasks when in silent mode. It is impossible to compile any Qt program if Qt was installed that way. 100% reproducible in a virtual machine. Installing manually seems to correct the problem.

[2013-04-11 14:43] lvillani opened #12 "Add Ammyy to the catalog"
This application is a standalone executable which doesn't require installation.

[2013-04-14 15:19] lvillani opened #13 "Add Catalyst drivers to the catalog"

[2013-04-14 15:22] lvillani opened #14 "Add PuTTY to the Catalog"

[2013-04-14 18:14] #5 closed, assigned to nobody

[2013-04-14 18:14] #8 closed, assigned to nobody

[2013-04-14 18:14] #11 closed, assigned to nobody

[2013-04-14 18:15] #6 closed, assigned to lvillani

[2013-04-14 18:23] #4 closed, assigned to lvillani

[2013-04-14 18:23] #10 closed, assigned to nobody

[2013-04-14 18:23] #13 closed, assigned to nobody

[2013-04-14 18:23] #14 closed, assigned to nobody

[2013-04-14 18:24] #3 closed, assigned to nobody

[2013-04-23 17:31] lvillani opened #15 "Add Windows 7 USB/DVD Download Tool"
http://images2.store.microsoft.com/prod/clustera/framework/w7udt/1.0/en-us/Windows7-USB-DVD-tool.exe

[2013-04-23 17:43] lvillani opened #16 "Add --force switch to overwrite previously downloaded files"

[2013-04-23 17:44] lvillani opened #17 "Add new installer type "microsoft""
Switches for silent installation are: `/quiet` `/passive` `/norestart`

[2013-05-26 08:52] lvillani opened #18 "Add Tortoise Git 1.8 to the Catalog"

[2013-05-26 09:18] lvillani opened #19 "Add Steam to the catalog"

[2013-05-26 09:22] #16 closed, assigned to nobody

[2013-05-26 09:22] #18 closed, assigned to lvillani

[2013-05-26 09:22] #15 closed, assigned to nobody

[2013-05-26 09:22] #17 closed, assigned to nobody

[2013-05-26 09:22] #19 closed, assigned to nobody

[2013-05-26 09:39] lvillani opened #20 "Add Deluge to catalog"
Type: nsis

[2013-06-10 12:21] lvillani opened #21 "Add python2-pil 1.1.7 Package"

[2013-06-10 12:21] lvillani opened #22 "Add Python 3 package"

[2013-06-16 08:41] lvillani opened #23 "Windows 7 USB Download Tool not installing properly"
Installer says: "Command line option syntax error".

[2013-06-16 08:41] #21 closed, assigned to lvillani

[2013-09-15 18:11] lvillani opened #24 "Add Puppet 3 to the catalog"
Installer: https://downloads.puppetlabs.com/windows/puppet-3.3.0.msi
Type: MSI

[2013-09-15 18:15] lvillani opened #25 "Update Qt4 to 4.8.5"

[2013-09-15 18:25] lvillani opened #26 "Add BitVise SSHD server to the catalog"
Installer: http://dl.bitvise.com.s3-external-3.amazonaws.com/BvSshServer-Inst.exe
Unattended installation instructions: http://www.bitvise.com/ssh-server-guide-installing

[2013-09-15 18:27] lvillani opened #27 "Custom installation type"
A new installation kind of type "custom" should be added to the catalog.

Using this type makes the "custom_args" key available to specify which arguments should be passed to the installer.

[2013-11-03 11:05] #2 closed, assigned to lvillani

[2013-11-03 11:05] #23 closed, assigned to lvillani

[2013-11-03 11:05] #25 closed, assigned to lvillani

[2013-11-03 11:05] #27 closed, assigned to lvillani

[2013-11-03 11:05] #12 closed, assigned to nobody

[2013-11-03 11:05] #20 closed, assigned to nobody

[2013-11-03 11:05] #22 closed, assigned to lvillani

[2013-11-03 11:05] #24 closed, assigned to lvillani

[2013-11-03 11:05] #26 closed, assigned to lvillani

[2013-12-02 13:07] lvillani opened #28 "Multiarch support"
Support downloading and installing architecture-dependent binaries.

Add support for:
- x86
- x86_64

[2013-12-03 08:47] #28 closed, assigned to nobody

[2013-12-03 08:48] lvillani opened #29 "Catalog versioning"
Add a `version` key to the catalog so that `just-install` knows of unsupported catalog formats.

[2014-05-17 21:48] tim-lebedkov opened #30 "Npackd"
Hi,

Are you interested in some sort of collaboration?

--Tim

[2014-05-19 13:10] lvillani opened #31 "Expand environment variable for type: 'custom' installers"

[2014-05-19 13:10] lvillani opened #32 "Spawn subprocess in a minimal environment"
This is to prevent a problem i.e. when installing python2.6-win32 because:
- just-install is frozen by PyInstaller against Python 2.7
- PyInstaller's boot loader mangles the environment so that the executable finds the Python interpreter (python27.dll)
- If we launch pywin32 for Python 2.6 installer as-is it loads python27.dll from PyInstaller's temporary directory

At this point everything implod

[2014-07-13 14:42] #29 closed, assigned to nobody

[2014-07-13 15:16] lvillani opened #34 "Remove dependency from Visual C++ 2008 Runtime"
just-install currently requires the Visual C++ 2008 redist to be installed on the target system otherwise it won't run.

This is because just-install is written in Python 2.7 which, in turn, is built with Visual C++ 2008. This version of the VC++ runtime is difficult to bundle since it is part of the WinSxS mess. This means that even though PyInstaller bundles the DLL, users _must have_ the redist

[2014-07-13 15:29] lvillani opened #35 "Split self-update functionality into a separate just-install-updater.exe executable."
The way just-install updates itself is sub-optimal: it involves sleeps, calling itself with "secret" command line flags, using win32process.DETACH, etc. Everything is very fragile.

Replace this mess with something simpler: a new updater program (`just-install-updater.exe`) to be made available through just-install's catalog itself which downloads and installs the latest version.

[2014-07-13 15:29] lvillani opened #36 "Progress bars"
Investigate using the progressbar module to present a download progress bar to users.

[2014-07-13 15:30] lvillani opened #37 "Website!"
We need a simple landing page for users visiting http://just-install.it

[2014-07-13 15:32] lvillani opened #38 "Properly document the catalog file format"
Add documentation for (upcoming, incompatible) version 2 of the catalog file.

[2014-07-31 15:49] #30 closed, assigned to nobody

[2014-07-31 16:23] #32 closed, assigned to nobody

[2014-07-31 16:23] #34 closed, assigned to lvillani

[2014-07-31 16:23] #35 closed, assigned to nobody

[2014-07-31 16:23] #36 closed, assigned to nobody

[2014-07-31 16:23] #38 closed, assigned to nobody

[2014-07-31 16:40] #31 closed, assigned to nobody

[2014-08-12 15:54] lvillani opened #40 "Embed manifest to show the elevation prompt"

[2014-08-12 15:55] lvillani opened #41 "Executable icon"
Since the rewrite, the just-install executable has lost its icon. Let's restore it.

[2014-08-12 20:38] #40 closed, assigned to nobody

[2014-08-12 20:38] #41 closed, assigned to lvillani

[2014-08-13 12:47] #9 closed, assigned to nobody

[2014-08-20 06:53] lvillani opened #42 "Full support for "installing" ZIP archives"
ZIP archives just need to be extracted somewhere, possibly by specifying the destination directory as a value in the "options" dictionary in the registry.

The code to extract zip files is already there, since it's being used to support "wrapped installers" (see #9), it just needs to be used to support zip installers.

[2014-08-20 06:54] lvillani opened #43 "Add SysInternals Suite to the registry"
Depends on #42

[2014-08-20 06:55] lvillani opened #44 "Add dependency walker to the registry"
Depends on #42

[2014-08-20 07:03] lvillani opened #45 "Change installation method"
This is a breaking change that should be scheduled for just-install 3.0.0 to be released by the end of the year.

Some ideas:
- just-install won't copy itself to %WinDir% anymore.
- shims will be created in the same directory as just-install itself or a subdirectory, like `bin`
- we may require exeproxy to be installed on the target system and attempt to install it automatically if missing

See al

[2014-08-20 07:08] lvillani opened #46 "Continuous Integration"
Add a test pass over the registry file to ensure that all installers are still reachable

[2014-08-21 10:22] #42 closed, assigned to nobody

[2014-08-21 10:22] #43 closed, assigned to nobody

[2014-08-21 10:22] #44 closed, assigned to nobody

[2014-08-22 22:02] lvillani opened #47 "Normalize SysWOW64 environment variables"
just-install is compiled as a 32-bit binary for compatibility reason. Since we allow environment variables expansion in various places we should present users with stable environment variables they can rely upon. Currently %ProgramFiles% and %ProgramFiles(x86)% are the worst offenders here.

Here is what Windows does:

| Environment Variable | 32-bit Windows | 64-bit Windows | 32-bit exe on 64-bit

[2014-08-24 15:00] MrChang1 opened #48 "Error when installing Winscp"
Hello,

First of all, I want to thank you for your great work! It's a wonderful App! :)

I have tried installing Winscp, but i got an error :
C:>just-install winscp
2014/08/24 16:53:49 x86_64 - http://winscp.net/download/files/201405031411c9de1a
51d9b2cdea0b1e5c2c4d4ad6d3/winscp553setup.exe
2014/08/24 16:53:49 Running C:\Users\Me~1\AppData\Local\Temp\99E61D4C.exe [/
norestart /sp- /verysilent]
201

[2014-08-26 08:14] #48 closed, assigned to nobody

[2014-09-03 18:41] lvillani opened #49 "Do not run installers/executables through %COMSPEC%"
Executable files should be executed directly instead of using the shell.

This was done in the past to e.g. use explorer.exe to view .zip files (notably to install the Colemak keyboard layout - we simply "executed" the zip file via %COMSPEC% (that should be like using ShellExecute on the .zip file, but I'm a bit rusty with Win32 api to be certain).

Now that we have direct support for extracting z

[2014-09-03 18:41] lvillani opened #50 "Extract file extension from Content-Disposition header"
Some installers (notably the Windows 7 USB Download Tool) can be downloaded using a link from which we cannot extract the file extension (i.e.: https://download-codeplex.sec.s-msft.com/Download/Release?ProjectName=wudt&DownloadId=96313&FileTime=129048694816630000&Build=20928), thus failing to call the executable.

We can either do this or just implement #49 and be done with it.

[2014-09-04 12:28] lvillani opened #51 "MSI Installer (again)"
Let's get back providing an MSI installer.

Advantages:
- We don't have to tell users to place just-install under `C:\Windows` (or everywhere else on the system default path)
- One command to install just-install and set-up the environment for all platforms (i.e.: Windows XP and up, which don't have PowerShell by default)

[2014-09-06 12:29] #45 closed, assigned to nobody

[2014-09-06 15:37] #51 closed, assigned to nobody

[2014-09-06 16:04] #49 closed, assigned to lvillani

[2014-09-06 16:05] #50 closed, assigned to nobody

[2014-09-14 17:37] #47 closed, assigned to lvillani

[2014-10-16 12:11] lvillani opened #54 "Check catalog major version and prompt for self-update if not supported"

[2014-10-29 20:06] ctjhoa opened #58 "Support checksum"
Hi,
It could be great to support optionnal executable checksum. With something in the json like:

[code]

[2014-11-02 15:21] #58 closed, assigned to nobody

[2014-12-06 17:58] #54 closed, assigned to nobody

[2014-12-07 12:10] #46 closed, assigned to nobody

[2014-12-07 12:11] #7 closed, assigned to nobody

[2014-12-07 14:52] #37 closed, assigned to nobody

[2015-02-01 12:03] lvillani opened #63 "ProgramFiles normalisation fails on 32-bit Windows"
[code]

[2015-02-03 21:24] lvillani commented on #63
Should be fixed in 2.3.1. Closing.

[2015-02-03 21:24] #63 closed

[2015-04-15 13:27] lvillani opened #69 "Validate registry JSON using JSON-schema"
This Go implementation looks interesting: https://github.com/xeipuuv/gojsonschema

The JSON schema will become the de-facto documentation of the registry format.

This should prevent the error reported by @naufraghi in #68

[2015-04-15 13:31] lvillani opened #70 "Per-architecture shim creation"
Perl installs under two different paths based on machine architecture (on x86_64 it installs under `C:\Perl64` whereas on 32-bit Windows it installs under `C:\Perl`). The shim is hardcoded to the 64-bit version and won't work on 32-bit Windows.

We need to allow architecture specific options to direct shim creation.

This will require an update to the registry file format and depends on #69.

[2015-04-26 19:25] tim-lebedkov opened #72 "Export packages from Npackd repositories"
Hi,

now that just-install has advanced, have you considered exporting packages from an existing Npackd repository like this one?

http://npackd.appspot.com/rep/xml?tag=stable

[2015-04-28 06:44] lvillani commented on #72
You mean converting Npackd repositories in a format compatible with just-install's "registry"?

[2015-04-28 15:56] tim-lebedkov commented on #72
yes

[2015-04-29 07:47] lvillani commented on #72
That's certainly a possibility but I would wait until I release just-install 3.0 (which breaks compatibility of the registry format and formalises its structure with JSON-schema).

I'm waiting to sort out some issues I have with Windows installer before pushing it as a stable release (since I'm using it already).

[2015-04-29 20:24] tim-lebedkov commented on #72
I saw that branch. If you plan to import packages from Npackd, it would be nice to make the packages more compatible with Npackd as you break the compatibility with Just Install 2.0 anyway.

[2015-04-30 18:45] lvillani commented on #72
I'm open to import packages from Npackd but I'm very strict about anything that adds complexity to the project. (Adding JSON schema was a necessary evil to clean up the registry format and make it more consistent, formal, and testable by a machine, in addition to act as documentation).

Did you have something specific in mind?

[2015-05-02 08:50] tim-lebedkov commented on #72
.msi and .zip packages can be supported very easily, but many other packages require dependencies for the installation and complicated scripts. That's why I would suggest that the converter program contains a table of Npackd package names and corresponding Just Install package types like this one:

Npackd package name | Just Install package type
------------------------------|---------------------

[2015-05-06 13:29] naufraghi opened #74 "Put a landing page on just-install.it"
With a big
[code]
and a link to github for example.

[2015-05-07 09:10] lvillani commented on #74
:+1:

[2015-05-12 17:07] #69 closed

[2015-05-12 17:07] #70 closed

[2015-05-13 12:25] lvillani commented on #74
Aaaaand done!

[2015-05-13 12:25] #74 closed

[2015-05-13 12:33] naufraghi commented on #74
😊👌

Il giorno 14:26 mer 13/mag/2015 Lorenzo Villani <notifications@github.com>
ha scritto:

[2015-06-25 10:36] lvillani opened #77 "Rename packages"
* depends -> dependency-walker
* reshack -> resource-hacker
* mse -> microsoft-security-essentials
* vc-python -> python27-vc
* qt -> qt4-vs2008
* sqlserverexpress -> sqlserver-express
* vc2008express -> visualcpp-express-2008

[2015-06-25 10:44] lvillani opened #78 "Remove obsolete/problematic packages"
* atom: development pace is too fast to do a proper job at tracking the latest release.
* advancedinstaller: The latest release doesn't have a free tier anymore.
* vc2008redist and vc2008redist-sp1 these should be bundled and installed by applications needing them.

[2015-06-25 19:13] lvillani opened #79 "Automatically update the registry if local copy is too old"
Check the last modified timestamp, if older than 1 day, update the local copy.

[2015-06-26 12:48] lvillani opened #80 "Fix conemu entry in v3.0 branch"
Installing ConEmu with just-install 3.0 beta results in a panic.

[2015-07-13 15:45] lvillani commented on #79
Done a while ago and it seems to be working, closing.

[2015-07-13 15:45] #79 closed

[2015-07-13 16:13] lvillani commented on #80
Should be done as of 25cbe1053572d0d1ebfc486ffa2fd3c581ff0b9b. Closing.

[2015-07-13 16:13] #80 closed

[2015-07-13 16:13] lvillani commented on #77
Done a while ago, closing.

[2015-07-13 16:13] #77 closed

[2015-07-13 16:14] lvillani commented on #78
Done. Atom recently released version 1.0 and provides a link to always download the latest release so it was reinstated. Removed foobar2000 because of their obnoxious anti-hotlinking protection. Closing.

[2015-07-13 16:14] #78 closed

[2015-07-27 17:20] MSumulong opened #85 "Offline support?"
Is there currently support to have an installer .exe file to be located locally on a machine? I'd like to use just-install on machines that aren't regularly connected to the internet.

[2015-07-27 17:51] lvillani commented on #85
Yes and no, as of now, just-install downloads installers to `%Temp%`. If you look there you will find some executables with eight-letters hexadecimal names, these are the CRC-32 of the download URL for each installer.

Since this is a useful feature request I will push a new version that saves both the .json file and all installers under `%Temp%\just-install`, that should make it easier to sync th

[2015-07-27 17:54] lvillani commented on #85
I'll also add a `--download-only` switch so that you can download all installers on one machine, then zip up `%Temp%\just-install%` and copy on another machine.

[2015-07-27 20:33] MSumulong commented on #85
Awesome! That would help tremendously. I'll close this out after this is implemented.

[2015-07-27 21:13] lvillani commented on #85
I'll try to carve out some time this weekend.

[2015-08-02 20:28] lvillani commented on #85
Can you try to install the latest beta by running `msiexec.exe /i http://beta.just-install.it`?

[2015-08-03 14:51] MSumulong commented on #85
Works as expected, thanks!

[2015-08-03 14:51] #85 closed

[2015-09-11 17:04] aurelien-rainone opened #88 "Backslashes are not all escaped in registry file"
My installation script using **just-install** (really great tool btw :+1: ) is quitting unexpectedly.

Having a look at the registry, I saw that some backslashes in the `"options/shims"` field for *ruby* and *subversion* for example, were not escaped. Don't know if it only happens there
[code]

[2015-09-13 09:52] lvillani commented on #88
Should be working now, can you give it a try?

[2015-09-13 10:01] aurelien-rainone commented on #88
I'll give a try tomorrow morning and let you know
Thanks

[2015-09-14 08:23] aurelien-rainone commented on #88
Yep it's working!

[2015-09-14 08:23] #88 closed

[2015-09-30 06:09] michaelsync opened #91 "Why do we need an MSI to install Just-Install?"
Hello,

I've read your post about how you started creating Just-install. I like it.

But when I run this command "msiexec.exe /i http://go.just-install.it", it show the MSI screen because http://go.just-install.it has just-install.msi. I agreed with you that we won't be able to remember the chocolatey's command. but using just-install.msi is a bit weird. Is there any way to improve it? How do we d

[2015-09-30 06:17] lvillani commented on #91
Run `msiexec.exe /q /i http://go.just-install.it` (notice the `/q` switch).

`msiexec` is the only memorable way to fetch a file from the internet and install it across all versions of Windows since it has a built-in HTTP client.

[2015-09-30 06:17] #91 closed

[2015-12-14 20:21] Pafzedog opened #95 "[question] Using insite repository"
Hello,
Is there a way to work with a custom repository like a network share or webserver on my corporate LAN.

first I will be able to make some custom installers and in a second time it will save some bandwidth in case of massive deployment .

thanks

[2015-12-14 20:30] Pafzedog commented on #95
ok, sorry for that dumb question :/
I just have to modify justinstall.json ...

[2015-12-14 21:51] lvillani commented on #95
Well.. just-install fetches installation packages directly from upstream servers, it has no notion of a repository. If you have a large network I guess you could add a transparent HTTP proxy in front of your LAN's gateway so that installers are automatically cached without having to change just-install or just-install.json.

Setting up e.g.: Squid for interception caching should be relatively easy

[2015-12-14 22:00] Pafzedog commented on #95
really a good idea, thanks !
I will have a look at this and try it
I'll make a report here.

[2015-12-16 11:38] #95 closed

[2016-01-03 09:43] lvillani opened #99 "Cached registry gets corrupted when "just-install update" fails"

[2016-01-25 05:25] vincecima opened #101 "Document the right way to test out new additions to the registry"
The instructions for testing new entries to the registry are unclear. Perhaps a command line parameter to point to a custom registry file would work well?

[2016-01-25 05:30] vincecima commented on #101
Just to follow it up, I used Windows search to find the local copy of the registry file. I then copied and pasted my potential additions into that file.

[2016-01-25 05:48] vincecima opened #104 "Document how to figure out which type of installer a file is"
Tools like http://www.softpedia.com/get/System/Launchers-Shutdown-Tools/Universal-Silent-Switch-Finder.shtml might be helpful. Perhaps we can build it into the just-install exe?

[2016-01-26 02:50] vincecima opened #106 "Feature request: Add sha256 hash to verify installer is whats expected"

[2016-01-26 08:11] lvillani commented on #106
Every supported installer package already ships with internal consistency checks (e.g.: zip files have CRC32 checksums which are weak but passable).

Adding another checksum would only ensure that what we are getting is really "installer for application X", which is burdensome to maintain in case we have to update a lot of entries in the registry. I recognize that this improves security since we w

[2016-01-26 08:55] lvillani commented on #101
`just-install` tries to load a file called `just-install.json` from the current working directory, if there. Trying the "canonical" path otherwise (and downloading it there, if necessary). But you're right, this needs to be documented.

[2016-01-27 13:37] vincecima commented on #101
@lvillani I was thinking about hacking in a new command line flag. Flag would point to another registry file that would be both _additive_ and _overriding_. That way the development scenario would be more straight forward and folks who want to maintain a custom registry file for whatever reason can use it too. Thoughts?

[2016-01-29 13:36] vincecima opened #119 "Clarification: Support for un-silent packages"
Currently, just-install handles packages that can't be made silent (iTunes for example) just fine. Some questions:

1. Should these packages be flagged somehow in the registry file?
1. If yes to the above, should the user be forced to pass a command line flag agreeing to their use. If the flag isn't passed, do we error out and alert why?

[2016-01-29 14:20] vincecima opened #122 "Feature Request: Support standalone applications"
Applications like https://rg3.github.io/youtube-dl/download.html are distributed as a standalone .exe. They just need to be copied somewhere and a shim added to the user's default PATH. `just-install` already supports this if the file is a .zip, it just needs to be extended to .exe.

[2016-01-30 16:57] lvillani commented on #119
Flagging the package and showing a warning would be nice but I would not force users to pass a special command line flag in order to install them.

[2016-01-30 16:59] lvillani commented on #122
:+1:

[2016-01-30 17:13] vincecima commented on #119
:+1:

[2016-01-30 23:41] vincecima opened #123 "Documentation Request: Setting up just-install for development"
I am new to Go programming and having concise instructions for setting up the development/build environment would be super useful. Thanks!

[2016-01-31 14:09] lvillani commented on #72
There are no plans to write a conversion script for the time being. Of course, I'm open to the possibility but I don't have the time to do it myself. I'm closing this ticket for now. Will re-open if necessary in the future.

[2016-01-31 14:09] #72 closed

[2016-01-31 14:17] lvillani commented on #104
Building USSF into just-install is out of the question. Visual inspection and running the installer once is enough 9 times ouf of 10. USSF seems to not be maintained anymore.

Really, there's nothing I can offer besides "try to run installers enough times that you are able to recognize them, or contact the vendor if anything else fails".

[2016-01-31 14:17] #104 closed

[2016-01-31 16:04] #123 closed

[2016-01-31 16:50] lvillani commented on #101
That would be nice. I have a clear idea how this can be implemented in a clean and generic way. I'm on a business trip at the moment but I'll see what I can do when I get back home.

[2016-02-09 04:35] #99 closed

[2016-02-27 10:25] #122 closed

[2016-02-27 11:42] lvillani commented on #122
Btw you can now install beta versions by running `msiexec /i http://beta.just-install.it`. These get built after every commit on master.

[2016-02-27 11:43] lvillani commented on #122
Also note that the "destination" field is expected to be a full directory + file name for "copy" entries (whereas with "zip" entry we expect it to be a directory name).

[2016-02-28 20:09] lvillani opened #127 "Add "clean" command to remove all temporary files"
This should remove the whole just-install directory under `%TEMP%`, removing both the cached registry file and any installer that has been downloaded before.

[2016-03-27 18:25] #127 closed

[2016-03-27 20:19] guiweber opened #132 "Readme points the the website for list of available packages, but it doesn't exist"
The readme says :

As far as I can see, there is no list on the website. Is this something you plan on doing or should the readme be updated?

I think this list is something that would be nice to have to entice people to try just-install. If it's something that won't be done soon, I feel it would be better remove the link instead of directing people to something that isn't there (as a new user I d

[2016-03-27 20:33] guiweber opened #133 "Document just-install.json parameters"
The documentation in CONTRIBUTING.md for adding catalog entries is very thin. Some parameters are obvious, others not so much. For example, I'm not sure what the "as-is" kind, when to use the "custom" kind, what can go under "options", and how to use shims. I could figure it out, but I think it would be much easier for new contributors to get on board if this were documented.

[2016-03-28 08:24] lvillani commented on #132
The list is definitely there (tested on iOS, Android, Windows, Ubuntu, OS X, with their respective default browsers).
![screenshot 2016-03-28 10 22 14](https://cloud.githubusercontent.com/assets/241660/14074167/4b860a50-f4cf-11e5-91e1-e9a073c0182c.png)

[2016-03-28 13:56] guiweber commented on #132
Ok, I just confirmed that it does appear when using Internet Explorer but doesn't when using Firefox.

Firefox gives this security error in the console, which is most likely the source of the issue:

[2016-03-28 17:06] lvillani commented on #132
That's weird, the screenshot above is from Firefox on OS X. I also tried Firefox on Android and I still can see the list.

[2016-03-28 17:34] guiweber commented on #132
I narrowed down the issue to a compatibility problem with the [HTTPS Everywhere](https://www.eff.org/https-everywhere) add-on. It's the first time I see this kind of issue with it and it's kind of weird wince it's says it has been blocked as a cross-origin request

I'll open a ticket on their github to see what they think about this behavior.

[2016-03-28 17:41] lvillani commented on #132
:+1: I'm closing this issue, then.

[2016-03-28 17:41] #132 closed

[2016-03-28 20:01] lvillani commented on #101
On second thought, I don't really have the time to implement said feature and will just add a blurb to CONTRIBUTING.md

[2016-03-29 18:29] #133 closed

[2016-03-29 18:36] #101 closed

[2016-03-29 18:38] lvillani commented on #119
By the way, I was wondering that maybe we can just show a warning for any package that has `kind` set to `as-is`.

[2016-03-30 01:07] guiweber commented on #127
The clean command doesn't seem to be run after an install routine. The folder and its content remain there.

By the way, this may be a good thing for development, when testing new catalog entries (you don't want to have to update every time), but maybe it could be toggled through the command line?

[2016-03-30 02:51] guiweber opened #141 "Downloads without the proper extension in the URL don't install"
I tried adding VeraCrypt to the catalog. The file is downloaded by just-install, but it is missing its file extension (.exe), so J-I says "The file does not exist" when it tries installing it. The file downloaded file works fine outside of J-I if you add the extension manually.

The URL lacks a file name altogether, but if you put it in a web browser, the file will be downloaded with the proper na

[2016-03-30 03:09] guiweber opened #142 "Two issues with the virtual box extension pack"
I'm trying to add the Virtual Box extension pack to the catalog, but there are two issues.

First, just-install tells me that it's not a valid win32 application. This is most likely due to the file extension which is `.vbox-extpack`. I was able to launch the installer manually from the console, so it can work.

Second, the installer will give an error and abort if the filename is not the original

[2016-03-30 13:07] lvillani commented on #127
That command is meant to be run explicitly by the user (it works in a manner similar to `apt-get`). Stuff in `%TEMP%` may be cleaned up automatically by the system anyway..

[2016-03-30 17:25] guiweber commented on #141
Ok, so I found issue #50 and figured out how I could make it work. Still, it would be nice to document the various options in registry.md!

[2016-03-30 19:23] lvillani commented on #141
Yep, good catch! I'm adding that to the document.

[2016-03-30 20:02] #119 closed

[2016-03-30 20:02] #141 closed

[2016-03-30 21:34] #142 closed

[2016-03-30 21:45] lvillani commented on #142
Btw, to try this one you can install the beta version of just-install (that gets automatically rebuilt after each commit on the `master` branch) by running `msiexec /i http://beta.just-install.it`

[2016-03-30 21:47] guiweber commented on #142
Good to know, thanks!

[2016-04-01 11:01] pierre-guillot opened #147 "Feature request: Add parameter to change Temp folder"
I want to use just-install to download the lastet installer of many app. Thus I use the --download-only option on my commande.
But installers are in the %temp% folder and you cannot change it.
Please add a --dir option to choose the temp folder.

[2016-04-06 16:06] guiweber opened #149 "Feature Request: Add ability to see package version from the command line"
It would be nice to be able to do something like:
`just-install -v vlc`

which would output something like:
`vlc version 2.2.2`

[2016-04-13 14:41] guiweber opened #151 "Keeping the registry up-to-date"
As you might have noticed in PR  #150, I started working on an script to help keep the registry up-to-date: https://github.com/guiweber/just-install-updater

I feel that keeping it up-to-date is key to the usefulness of just-install, and that updating manually is too time consuming to be a sustainable solution.

If you like the idea, it would be good to add something to the contribution guidelines

[2016-04-16 09:28] lvillani commented on #149
I'll include the output in `just-install list`

[2016-04-16 12:02] guiweber commented on #149
Sounds good. Could you make it so that if a package (or a list of packages) is present after the list command, only those packages are listed then? That way we don't have to scroll through the list to find it.

[2016-04-23 11:29] lvillani commented on #151
That's an excellent idea and I like the way update-rules.json is structured and works. I'd like to have something like this in my repo, but I'd probably rewrite it in go (since go by itself is enough of a nuisance to set-up for development, I wouldn't want to add even node to the mix), so I'm perfectly fine if you run it from time to time and submit a pull request :smile:

[2016-04-23 11:29] #151 closed

[2016-04-23 11:30] lvillani commented on #106
I'm closing it for now, since I don't really have the time to work on this. Will re-open in the future.

[2016-04-23 11:30] #106 closed

[2016-04-23 11:31] lvillani commented on #149
If you are using PowerShell you can then e.g. `just-install list | select-string vlc` to filter out results

[2016-04-23 14:56] guiweber commented on #149
Unfortunately I am not. But if outputting a single package is not an option, having the version number in the list will be better than nothing.

[2016-04-23 16:42] guiweber commented on #151
Makes sense.

In the meantime, would you be open to making a few changes that would make the update process easier? I have two main issues at the moment:

1. Testing the updated urls locally in just-install is long. I could test them in node but then I wouldn't be 100% sure something won't go wrong in just-install. For now I need to navigate to `just-install -d [packages]`, let the packages downlo

[2016-04-24 17:34] lvillani commented on #151
Re 1: The current test suite already does what you are asking. There are no plans to integrate that into just-install itself.

Re 2: I don't know Fosshub but Sourceforge provides permanent download links (like those that are currently being used)

[2016-05-05 16:35] lvillani commented on #149
`cmd.exe` has `findstr`, so something like `just-install list | findstr vlc` should also work. I come from the UNIX school where filtering is done by a dedicated utility 😄

[2016-05-09 15:22] guiweber commented on #149
Thanks for the tip!

[2016-05-09 16:46] lvillani commented on #149
By the way, this should be in the latest beta that you can install by running `msiexec /i http://beta.just-install.it`

[2016-05-11 16:48] lvillani opened #160 "Testing: log URLs that are being tested"
Also make sure to print them in Travis logs

[2016-05-11 16:49] lvillani opened #161 "Testing: automatically retry failed request"
Up to 3 times, with a 30 seconds delay. This should reduce false negatives while running Travis tests.

Also make sure to log failed requests for further inspection.

[2016-05-20 18:28] guiweber commented on #161
I had some builds failing because the test timed out on a good download link. Some hosts (such as sourceforge) add a delay before the download starts, so a longer timeout may also help with those.

[2016-05-29 16:03] lvillani opened #162 "just-install.it: package list broken due to missing CORS header"
We can't load the manifest from <http://rawgit.com/lvillani/just-install/master/just-install.json> because the server is not sending CORS headers. Also, we can't tell GitHub Pages to send it, so we'll have to work-around the issue (e.g. this library looks interesting https://github.com/jpillora/xdomain).

[2016-06-17 17:19] guiweber opened #163 "Consider removing obsolete apps"
In order to keep the registry clean and easier to maintain, I suggest removing everything related to python 2.6 (python26, python26-pip, python26-win32). Python 2.7 didn't break compatibility with 2.6, so I don't see why people would still be running 2.6 six years after 2.7 was released. I suggest consolidating everything related to the 2.x branch under the *python2* label, so we'll have the lates

[2016-06-19 19:40] lvillani commented on #163
We need to keep Python 2.6 because one of our clients still uses it and we need to install it on our CI workers. Same goes for Visual Studio 2008 and Qt, we need those exact versions to build PyQt from sources.

[2016-06-19 19:40] #163 closed

[2016-06-19 21:16] davidpaige commented on #149
I can't figure out how to prevent the command window from closing when I run a just-install list.

Also, it might be nice to have an optional switch (maybe /passive) that shows the standard msi passive window, so you can see that just-install is working.

[2016-06-19 21:57] davidpaige opened #164 "Adding catalog items"
I've read the manual, but I'm not sure how to add programs to the catalog.  I don't have a catalog.yml file on my system.  Is that something that I create (and where?), or is it something that you create?

I would like to get smplayer.exe added, but I don't know how.

[2016-06-19 22:27] vincecima commented on #163
@lvillani can you elaborate on the relationship between `just-install` and your clients needs?

[2016-06-20 01:59] guiweber commented on #149
I'm not seeing this issue. Are you running the command from a batch file or a shortcut?

[2016-06-20 02:23] guiweber commented on #164
New catalog entries need to be added to [just-install.json](../blob/master/just-install.json)

Reading [the contribution guidelines](../blob/master/CONTRIBUTING.md) as well as [the registry (catalog) documentation](../blob/master/doc/registry.md) should help you get started.

[2016-06-20 08:37] lvillani commented on #163
@vincecima I started just-install while working at my current company to automate installation of some development tools on our Jenkins/BuildBot workers, mainly because I was dissatisfied with all the alternatives. Some of the stuff in the catalog is there to support my company's needs.

[2016-06-20 08:40] lvillani commented on #149
@davidpaige just-install runs as a privileged application, so if you run it from a non-administrative command prompt, it will open an administrative one first (by going through UAC) and closing it when just-install exits. This is standard Windows behavior. It's something that I could change but I don't because I don't have time to spend on this particular issue.

The work-around is simple: open an

[2016-06-20 08:41] #149 closed

[2016-06-20 13:09] vincecima commented on #163
Thanks @lvillani. Good to know who else the project is serving. Thanks to you and your company for open sourcing all this great work.

[2016-06-21 00:26] guiweber commented on #163
@lvillani Thanks for the explanation. It would be nice to have a way of identifying those "legacy" packages in the registry. This would not only tell us, humans, to leave them alone but also allow us to ignore them programmatically (e.g. in the updater code).

Short of suggesting a versioning system, here are some simple ideas:

- Use the version field: since those packages are version specific an

[2016-06-21 06:35] marxwang opened #165 "Feature request: remove and upgrade pkg features needed."
Just-install is cool and easy-to-use.
I use chocolate w/wo GUI, but it always slow.
if upgrade pkg and remove pkg features could be fulfilled, it would be more useful.
Thanks *lvillani* for the good tool !

[2016-07-03 05:57] lvillani commented on #164
Closing this for now.

[2016-07-03 05:57] #164 closed

[2016-07-03 05:59] lvillani commented on #165
Package removal and upgrades are outside the scope of this project. See the [rationale](http://lorenzo.villani.me/2013/04/08/just-install-my-stuff/).

[2016-07-03 05:59] #165 closed

[2016-07-03 06:06] lvillani commented on #162
Somehow this is not an issue anymore. It seems that all participating services are now sending "correct" CORS headers.

[2016-07-03 06:06] #162 closed

[2016-07-07 23:34] maphew opened #174 "Consider include style package definitions"
Please consider using an "include style" method of package definitions instead of the current everything in one master file method. Sooner or later the master file will get just too big to manage easily. (At the very least it means contributors won't have to think about properly alphabetizing contributions ;-)

Master `just-install.json`:

[code]
Individual packages:

[code]
Where each single file

[2016-07-17 21:22] guiweber opened #182 "Libre office breaking the build"
Although the build gives an error about the content type, downloading the app in just-install still works. The download link itself hasn't changed.

registry_test.go:77: libreoffice (x86_64): http://download.documentfoundation.org/libreoffice/stable/5.1.4/win/x86_64/LibreOffice_5.1.4_Win_x64.msi, **The content type was application/x-troff-man**

[2016-07-18 08:27] lvillani commented on #182
I think it's one of their mirrors that's sending the wrong `Content-Type` for the `.msi` file. The one I'm testing locally works just fine.

[2016-07-19 10:06] lvillani commented on #174
Sorry but that's not a feature I'm going to implement since I deem it makes just-install a little more complex for a very small gain. As for alphabetising entries in `just-install.json`, well I can (and do) run `jsonlint` on that file from time to time to "fix" it anyway 😉

[2016-07-19 10:06] #174 closed

[2016-07-19 10:13] #182 closed

[2016-07-19 14:54] guiweber opened #190 "Android Studio package name"
@lvillani  @infuriare  I'm thinking of renaming  it *android-studio-ide* to follow the naming convention on the developer's website. This is in contrast to the *android-studio-bundle* that includes the Android SDK, which I'm also going to add to just-install. Any objections?

[2016-07-19 15:37] infuriare commented on #190
That's completely fine by me.

[2016-07-19 22:58] maphew commented on #174
you da boss. :) Thanks for tip about jsonlint, that's useful.

[2016-07-19 23:22] maphew commented on #174
how do you get jsonlint to alphabetize? jsonlint.com and http://zaa.ch/jsonlint/ seem to correct indentation etc. but aren't changing order for me.

![2016-07-19 16_21_49-jsonlint - the json validator](https://cloud.githubusercontent.com/assets/486200/16969880/03357658-4dcd-11e6-8d49-640e688e55f7.png)

[2016-07-20 01:41] guiweber commented on #160
Would it be possible to print a summary of the errors at the end? Or make the errors appear in red? With the large number of URLs now printed in the test log, I find it harder than before to see what went wrong when a build fails.

[2016-07-20 14:26] lvillani commented on #190
Go for it!

On Jul 19, 2016 16:54, "guiweber" <notifications@github.com> wrote:

[2016-07-20 19:11] #190 closed

[2016-07-20 21:09] maphew opened #192 "Shims not created, no error to work with"
I'm not getting shims created for this application I'm preparing for adding to the master list:
31320004f0e917644b16949b81074557f5fa01b8

The application (image magick) installs and works from Start Menu There is no error message reported, but no files are created in C:\Shims. I'm not sure if I made an error in the json file or if shims is broken or...
`exeproxy` is in PATH.

[code]

[2016-07-20 21:32] maphew commented on #192
[code]

[2016-07-20 21:40] maphew commented on #192
exeproxy works manually (though I had quite a time figuring out the proper syntax):

[code]

[2016-07-23 15:51] guiweber opened #193 "Build fails on JRE link"
The content type is not recognized by the test suite, but the download link works just fine in just-install.

http://javadl.oracle.com/webapps/download/AutoDL?BundleId=211997, **The content type was application/x-sdlc**

[2016-07-27 11:35] lvillani commented on #192
That's weird. Can you post here the full path to exeproxy's executable?

[2016-07-27 11:35] lvillani commented on #160
@guiweber Is it better with the latest changes?

[2016-07-27 11:36] lvillani commented on #193
I'm adding the new MIME type to the list of accepted ones.

[2016-07-27 11:47] lvillani commented on #193
Fixed by 8a6f6921e71ea076c94930822e9fe072061a7112

[2016-07-27 11:47] #193 closed

[2016-07-27 17:08] guiweber commented on #160
Yes, it's perfect like it is now. Thanks.

[2016-07-27 17:08] #160 closed

[2016-08-04 18:22] maphew commented on #192
`C:\bin\exeproxy.exe`, and bin is in PATH, `PATH=C:\Program Files\ConEmu\ConEmu\Scripts;C:\Program Files\ConEmu;C:\Program Files\ConEmu\ConEmu;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\bin;C:\apps\SysInternals;C:\ProgramData\Oracle\Java\javapath;C:\local\oracle\win64\instantclient_12_1;C:\local\oracle\win32\instantclient_12_1;C:\Program

[2016-08-07 07:46] lvillani commented on #192
That's not the correct path. just-install expects exeproxy to be installed where it would install it: see [here](https://github.com/lvillani/just-install/blob/6b2ab8900e39a33ef3934a501093ed7bc106cb1a/registry.go#L314). Please reinstall exeproxy with just-install itself (`just-install exeproxy`).

[2016-08-19 15:58] lvillani commented on #192
Did you manage to get shims working after my last comment?

[2016-08-19 15:59] lvillani opened #197 "Switch to govendor"

[2016-08-19 15:59] lvillani opened #198 "Build with go 1.7"
This depends on [support](https://www.appveyor.com/docs/installed-software/#go) from AppVeyor (Travis isn't a problem).

[2016-08-23 16:07] lvillani commented on #147
In the end I decided to not implement this feature. I'm sorry. To work-around: download packages using `--download-only` and then copy/move `%TEMP%/just-install`.

[2016-08-23 16:07] #147 closed

[2016-08-23 16:10] lvillani opened #199 "Consolidate CI: use only AppVeyor"
This is a windows-only project: it doesn't make sense to have tests running on Travis (Linux) and deploys on AppVeyor (Windows).

Now that AppVeyor seem to have solved their infrastructure problems, it is reasonable to move everything over there.

[2016-08-23 21:15] #199 closed

[2016-08-23 21:16] #197 closed

[2016-09-09 07:35] pierre-guillot opened #200 "Proposal : Speedfan and Adobe Reader"
Hello,
Here is a proposal software to add in just-install : SpeedFan (monitors voltages, fan speeds and temperatures in computers) :

[code]
For adobe reader, I think it's more complicated because you need two packets : base install (version 11) and update (version 11.0.17). Update file is not a exe or msi file. And link to download there files are in ftp://. Another problem with version 11 is you

[2016-09-09 12:20] lvillani commented on #200
Please open a pull request for Speedfan.

Adobe Reader is also available over http/https, no need to use FTP (and I have no plans to add support for it for the foreseeable future). Also, there's no need to have separate entries for update packages. It is responsibility of the developer to add a self-update mechanism to its software.

[2016-09-09 12:20] #200 closed

[2016-09-09 12:21] lvillani commented on #192
Closing due to lack of updates. Feel free to re-open if necessary.

[2016-09-09 12:21] #192 closed

[2016-09-21 23:28] maphew commented on #192
Sorry for long silence: yes, after installing exeproxy with just-install it works correctly.

[2016-10-12 16:51] lvillani commented on #198
This should be fixed now that AppVeyor defaults to Go 1.7.1

[2016-10-12 16:51] #198 closed

[2016-10-12 16:56] lvillani opened #201 "Add visual-studio-code"
Installer (should always point to "latest" version): https://go.microsoft.com/fwlink/?LinkID=623230

[2016-10-12 17:00] lvillani opened #202 "Add note to CONTRIBUTING.md about just-install-updater"
Tell people to also add rules to https://github.com/guiweber/just-install-updater if possible.

[2016-10-12 17:01] lvillani commented on #202
It was done already. Closing.

[2016-10-12 17:01] #202 closed

[2016-10-27 17:44] #201 closed

[2016-10-28 15:30] lvillani commented on #161
Done in 072242cfffba6fa62b855e1f6ad92382fcee9dff

[2016-10-28 15:30] #161 closed

[2016-11-06 15:54] pthivierge opened #204 "Support for classic shell"
Hello,

I was wondering if it could be possible to get support for classic shell.
The installer commands seems straingforward:
http://www.classicshell.net/faq/#install_commands

download link: http://www.mediafire.com/download/dbbil746gavpirr/ClassicShellSetup_4_3_0.exe

thanks for your attention :)

[2016-11-07 07:39] lvillani commented on #204
It should be possible, I'll try to get around doing it ASAP. The only thing that worries me is the mediafire link since they usually prevent hot-linking.

P.S.: It's weird to see software distributed that way.

[2016-11-07 13:56] pthivierge commented on #204
Thanks for the update! I'll stay tuned for sure.  I really like what you did. I may have few more ideas but before I'll need to start looking into your code-base. :)

I succeeded to install it this way using Powershell to download.
[code]

[2016-11-07 18:28] #204 closed

[2016-11-16 23:19] guiweber opened #205 "Please add appveyor.yml to the project"
This will allow contributors to rebuild the project on AppVeyor easily. The config can be exported from settings --> export yaml. Thanks.

[2016-11-17 18:21] #205 closed

[2016-11-29 19:34] guiweber opened #206 "Steam MSI not reacheable"
It looks like steam doesn't have an MSI installer anymore. The installer on their website is an EXE and I couldn't find anything else.

Did you get the download link from somewhere else when you added it to the registry? I just want to make sure I'm not overlooking something before changing the installer type.

[2016-12-01 16:07] lvillani commented on #206
I think I used the installer provided on the home page or the first result
for "Steam MSI installer" that looked legit. Feel free to update the entry
with whatever they are providing now. Even though the lack of an MSI
installer would be a bummer.

On Nov 29, 2016 20:34, "guiweber" <notifications@github.com> wrote:

[2016-12-02 17:46] lvillani commented on #206
I'm going to fix this myself since I recently reinstalled Windows and I need to install Steam on this machine.

[2016-12-02 17:49] #206 closed

[2016-12-04 21:31] geek1011 opened #207 "Allow automatically installing programs with just-install.exe"
I usually use Ninite to install my apps, but then I decided to switch to this.

I like the feature of Ninite where I can have an EXE which will automatically install applications.

Would it be possible to use [PE Overlays](http://reverseengineering.stackexchange.com/questions/2014/how-can-one-extract-the-appended-data-of-a-portable-executable) to have a just-install executable which automatically

[2016-12-04 21:31] geek1011 commented on #207
See https://golang.org/pkg/debug/pe/ and http://reverseengineering.stackexchange.com/questions/2014/how-can-one-extract-the-appended-data-of-a-portable-executable

[2016-12-04 21:39] geek1011 commented on #207
The way I am suggesting is:

In just-install.go, change os.Run(os.args) to an if statement which checks for text in the PE overlay. If there is not text, just run the usual stuff. If there is text, use it as the arguments instead.

The hardest part would be the code to extract the PE overlay.

[2016-12-04 21:41] geek1011 commented on #207
Also, if this feature is implemented, I am willing to create a web-based interface (it will require a modern browser) which will work like Ninite. I would do this with XMLHTTPRequest to get `just-install.exe`, read it as a blob, create another blob with the arguments, append them to each other, and then create a link with the url of the final blob for the user to download.

[2016-12-04 22:32] geek1011 commented on #207
Something like this would go in just-install.go

https://play.golang.org/p/_jQFZT7Lha

[code]

[2016-12-05 02:17] geek1011 commented on #207
I have got the code figured out. It is kind of hackish, but it works. I have tested it quite a bit.

All you need to do is replace `app.Run(os.Args)` with the following code. First, the code will read in it's own executable as a string, then it will get everything after the last occurrence of `!STARTARGS!`. This is how it finds the start of the PE Overlay. If there is nothing after the last occurr

[2016-12-05 03:50] geek1011 commented on #207
A web based interface for creating a custom installer (if you want it). All you need to do is also put just-install.exe on the gh-pages branch as well as the MSIs:

[code]

[2016-12-05 22:12] geek1011 commented on #207
I am almost done making this less hackish and more stable

[2016-12-05 22:24] geek1011 commented on #207
I am now done. I will now submit a PR for the part which goes into just-install.

[2016-12-05 22:37] geek1011 commented on #207
The new way does not need the marker text

[2016-12-05 23:00] geek1011 commented on #207
#208

[2016-12-06 08:00] lvillani commented on #207
Thanks! There are a lot of things to review, it will take some time. Overall, the code looks good. :+1:

[2016-12-06 12:15] geek1011 commented on #207
Also, you might like to remove Adobe Flash because it is slowing down and failing all the tests

[2016-12-06 12:17] geek1011 commented on #207
Also, do you want me to continue developing a web interface (it is all client-side HTML, so it can still go on github pages)?

If so, then the exe file as well as the MSIs have to be on github pages and bintray as well, because they are retrieved using XHR.

[2016-12-06 12:23] geek1011 commented on #207
I have tested my changes on:
Windows 7
Windows 10
Windows Server 2016
WINE on Ubuntu (I know this isn't officially supported, but it works)

I have tested my changes with:
No embedded data (it runs normally)
Blank embedded data (just a bunch of whitespace and newlines) (it runs normally)
Embedded arguments added on linux (it runs with the embedded arguments)
Embedded arguments (it runs with the em

[2016-12-08 10:50] lvillani opened #209 "Move just-install to separate organization"
I would like to start a discussion about moving just-install to a separate organization and moving the registry to its own repository.

There are a couple of technical challenges to work out because just-install has the URL to registry hard-coded to point to this GitHub repository. I have an idea about how to do this in the least disruptive way but that will be detailed either in a comment to this

[2016-12-08 19:47] guiweber commented on #209
I think it would make sense to do as you suggest. My only concern is that testing changes to the registry would be somewhat more tedious since it would not be embedded into Just-Install anymore. I feel that a way of configuring J-I to use the registry in another folder would be needed. Thoughts?

[2016-12-09 01:05] geek1011 commented on #209
I agree too

[2016-12-09 01:18] geek1011 commented on #209
I agree as well.

[2016-12-09 07:56] lvillani commented on #209
@guiweber Yep, that would be needed. I will try to detail a migration plan in a separate ticket. Btw, I created the `just-install` organization and

[2016-12-09 08:04] lvillani commented on #207
The web interface would be a very welcome addition once we have the embedding. I have yet to try it, though. By the way I'm going to change the deployment procedure to publish just-install.exe to Bintray along with the .msi, that should make development easier for you.

[2016-12-09 08:32] lvillani opened #210 "Move the registry to its own repository"
At the moment the registry is a file within just-install's own repository. This has a couple of shortcomings:

* Commits that improve just-install itself are interwined with commits that update the registry. This makes change tracking needlessly complicated.
* We have a test that checks that all entries in the registry are still reachable. These tests run even when we don't touch the registry itse

[2016-12-09 08:33] lvillani commented on #210
@guiweber Any comments on the plan? I think we should also synchronize to make sure that new commits from just-install-updater go to the new repository once it goes online.

[2016-12-09 17:45] geek1011 commented on #210
I just want to say that github will redirect automatically raw urls for moved repos

[2016-12-09 18:17] lvillani commented on #210
@geek1011 sure, but still, having the registry URL being under GitHub's domain (something that we don't control) is suboptimal, hence the move to a subdomain of `just-install.it`.

[2016-12-09 18:37] geek1011 commented on #210
I know. I am just saying this because it will make the upgrade process more seamless because the repo can be transferred sooner if the links will automatically redirect. This means the repo can be moved before the registry details are changed.

[2016-12-09 18:39] geek1011 commented on #210
Also, I am willing to help develop the command line argument option.

[2016-12-10 15:36] guiweber opened #211 "License"
Not all source files have a GPL header, so I suggest adding a license file at the root of the project folder to remove any ambiguity.

[2016-12-10 15:49] guiweber opened #212 "ssl certificate for just-install.it"
It would be great to get an ssl certificate for just-install.it. It would make the initial installation more secure since the recommended way of installing just-install is to download the MSI from just-install.it. It is now possible to get free certificate through https://letsencrypt.org/ !

[2016-12-11 09:18] lvillani commented on #212
This is currently not doable. The website is hosted on GitHub pages and they don't support HTTPS yet, AFAIK.

What I can do, however, is to put CloudFlare in front of the website, since they do offer free TLS certs/termination.

Also, I debate the usefulness of we also make just-install itself more secure: it doesn't even compare checksums of downloaded installers by default so there's more to do

[2016-12-11 09:21] #211 closed

[2016-12-11 15:47] guiweber commented on #212
I agree that it is not a solution to the whole security issue, but it is a critical first step forward. Yes, a large parts of the applications installed by just-install are downloaded over unencrypted links, but this is something that's slowly improving and we can work on updating the registry with https links as they are made available. Even if we don't do checksums, with TLS we can at least assu

[2016-12-18 14:13] Schokobecher opened #213 "Building fails with 'The system cannot find the specified file.'"
Trying to set-up a working build environment fails for me.

I installed WiX, Python27 and Golang using just-install and then set the `GOPATH` to `C:\GoProjects` (Which I created, including subdirs like `src`, `pkg` and `bin`.

When I run `python build.py` it results in a ` File not found` error
[code]

My `go env `looks like this:

Any suggetions?

[2016-12-18 19:03] lvillani commented on #213
Is `$GOPATH\bin` in your `$PATH`? It seems the script cannot find `govendor.exe` anywhere.

[2016-12-18 22:06] Schokobecher commented on #213
Setting that helped a bit, I also had to move the just-install folder into `GOPATH/src`.
After some trouble I got it to almost build completely (qtbittorent has VersionCode 0, Flashplayer 20 is not available anymore, current one is 24). It builds the .exe fine but ends in this error:

Sorry for any inconvience that I'm causing :-(

[2016-12-18 22:32] geek1011 commented on #213
I have had this issue when I built just-install. The problem is that the wix binaries are not in your path. The easiest way to fix this is:

1. Uninstall wix
2. just-install exeproxy
3. just-install wix
4. Try again

[2016-12-19 19:03] lvillani commented on #213
@Schokobecher no problem! @geek1011 procedure is totally spot-on. When you install `exeproxy`, just-install automatically creates a directory (`C:\Shims`) in which it places relevant "wrappers" to  binaries, this way you only have to add a single directory to the `$PATH`. This feature is a little bit under-documented, my bad 😅

[2016-12-19 21:15] geek1011 commented on #213
I can add it to the documentation. I just wanted to make sure it solves the problem first.

[2016-12-20 00:30] geek1011 commented on #207
Any time estimate on the change to Bintray?

[2016-12-20 22:02] Schokobecher commented on #213
Thanks @geek1011 and @lvillani :dancing_men:
Everything works now.

[2016-12-21 06:39] lvillani commented on #207
When I have time, which isn't much these days :)

I hope to get around doing it during this holiday season, before next year.

On Dec 20, 2016 01:30, "Patrick G" <notifications@github.com> wrote:

[2016-12-21 08:12] lvillani commented on #213
Glad to hear it! I'm closing this issue for now.

[2016-12-21 08:12] #213 closed

[2016-12-21 14:54] lvillani commented on #207
It should now be available from https://dl.bintray.com/lvillani/just-install/just-install.exe

[2016-12-21 20:57] geek1011 commented on #207
Thanks.

[2016-12-22 14:41] ingob1 opened #214 "Argument for update-url"
It would be nice to be able to install and/or configure just-install with an argument specifying the update url (where just-install.json can be fetched). That way it would be possible to always use your own registry file with the software you want. Especially concerning different languages that would be helpful. Or is that already possible?

[2016-12-22 17:18] geek1011 commented on #214
At the moment, there is no argument, but if there is a `just-install.json` in the same folder as `just-install.exe`, it will use it. See https://github.com/lvillani/just-install/blob/master/registry.go#L115

[2016-12-22 17:20] geek1011 commented on #214
A workaround is you could do a custom build with [this](https://github.com/lvillani/just-install/blob/master/registry.go#L20) line changed to your own registry URL.

[2016-12-23 11:37] ingob1 commented on #214
Great, thanks for the information, placing the json in the same directory will do the job.

[2016-12-23 15:11] geek1011 commented on #214
@ingob1 You're welcome. If you want, and @lvillani agrees, I could start working on a feature to load it from a custom URL.

[2016-12-24 08:44] lvillani commented on #214
In #210 there's a checklist item that explicitly states that custom registry URLs won't be supported. The reasoning is that #208 allows people to inject arbitrary arguments to just-install's CLI arguments list, which means that it would be possible for people to start distributing executables based on just-install that can be used as a vehicle to install malware. The last thing we want to do is to

[2016-12-24 08:44] #214 closed

[2016-12-24 16:56] geek1011 commented on #214
Ok. I understand your reasoning.

[2017-01-04 07:44] lvillani commented on #210
I briefly tested whether RawGit works in case a GitHub repository is transferred. It seems to work fine, so I think I can accelerate the move of this repository to the org.

[2017-01-04 07:59] lvillani commented on #207
I guess we can close this one and open a new issue for the web interface.

[2017-01-04 07:59] #207 closed

[2017-01-05 17:20] lvillani commented on #209
It's done. The repo is now under the `just-install` organization.

[2017-01-05 17:20] #209 closed

[2017-01-09 13:13] lvillani commented on #210
All done!

[2017-01-09 13:13] #210 closed

[2017-01-14 20:16] Schokobecher opened #218 "Choose installer language"
A handful of packages are installed in English only, because the downloaded setup is language-locked to English.
Examples would be:

- Firefox (All variants)
- Thunderbird
- MSE
- Battle.net

An option / parameter with a matching registry entry would be really nice.

`just-install.exe -L de firefox`

The registry would need to contain each supported language for the installer and just-install need

[2017-01-30 15:32] scabros opened #219 "portable binary package?"
hi, is there a binary package distribution like a portable app? i think it would be a very good alternative, so one can put this in a pendrive a use to "automagically" install custom software in target windows machine.
excellent work and congratulations!

[2017-01-30 19:47] scabros opened #220 "proxy support?"
is there a way to support transparent proxy login? thanks!

[2017-01-31 13:04] lvillani commented on #219
Hi! @geek1011 worked on https://github.com/just-install/just-install/pull/208 to do exactly this. He also plans to work on a simple web interface to produce such executables.

[2017-01-31 13:04] #219 closed

[2017-01-31 13:06] lvillani opened #221 "Web UI to produce self-installing executables"
Continuation of the work from @geek1011 on https://github.com/just-install/just-install/pull/208

@geek1011 You should now have everything you need to work on this (e.g. binaries on Bintray, etc). Ping me if anything is missing.

[2017-01-31 13:08] lvillani commented on #220
I think it's doable. At the moment we are using a simple client built on top of Go's builtin HTTP client library. I'm probably going to switch over to https://github.com/smallnest/gorequest though, which should provide transparent proxy support.

[2017-01-31 20:28] geek1011 commented on #221
For it to work, the binaries need to be in the same folder as the web UI. Other than that and theming, I am basically finished the web UI.

[2017-01-31 20:34] geek1011 commented on #221
Here is the code so far. It works, just put it in a web server in the same folder as just-install.exe. I just need to finish the theming and making it more error tolerant.

[code]

[2017-02-01 18:15] geek1011 commented on #221
It's done! @lvillani

[code]

[2017-02-01 18:20] geek1011 commented on #221
## Main page
![screenshot1](https://cloud.githubusercontent.com/assets/13909717/22520121/15a2b252-e881-11e6-9ea2-755d6ac61513.png)

## Fatal error
![screenshot2](https://cloud.githubusercontent.com/assets/13909717/22520124/170e8436-e881-11e6-8fdb-afe784e89209.png)

## Non-fatal error
![screenshot3](https://cloud.githubusercontent.com/assets/13909717/22520125/182ff6ba-e881-11e6-8b12-3903e63bbcab.pn

[2017-02-01 18:30] geek1011 commented on #221
Demo page: http://just-install-customizer-demo.bitballoon.com/

[2017-02-01 19:07] geek1011 commented on #221
I have submitted a PR

[2017-02-04 14:19] lvillani commented on #221
Should be live now! http://just-install.it/customizer.html

[2017-02-04 14:19] #221 closed

[2017-02-04 16:56] cazandobits opened #226 "There isn't version of 32 bits?"
I, I'm a user of windows 7 32bits, is there any version of this program wich can run on 32 bits OS? (thanks!)

[2017-02-04 18:03] lvillani commented on #226
Hey there! I just realized that our CI environment built x86-64 binaries even though we claim to support 32-bit systems. I pushed a new test build that you can try by running `msiexec.exe /i http://unstable.just-install.it`, can you try it and see if it works for you? (I don't have a Windows system at hand right now to test it myself, unfortunately).

[2017-02-04 19:05] geek1011 opened #230 "Link to download EXE"
There is currently no easy way to download just-install.exe standalone. http://static.just-install.it/release/stable/just-install-v3.3.0.exe cannot be accessed directly, and the other ways are hard to find.

[2017-02-04 19:11] pgaskin opened #231 "Ability to specify request headers and cookies in the registry"
It is better if the app logic and the registry are kept separate. The code [here](https://github.com/just-install/just-install/blob/master/util.go#L176-L204) is related to apps, not just-install, so it would be better off in the registry.

The way this could work is a new requestInfo object in each app in the registry, which contains a cookies array, and a headers array.

[2017-02-04 19:11] geek1011 commented on #231
I would be willing to work on this later this month, when I have more time.

[2017-02-04 19:40] geek1011 commented on #212
Also see just-install/registry#8

[2017-02-04 19:42] geek1011 commented on #226
It works for me.

[2017-02-09 12:30] lvillani commented on #231
Sure, that's a great idea!

[2017-02-09 12:30] lvillani commented on #230
You mean adding a link to the exe on the website?

[2017-02-09 12:48] geek1011 commented on #230
Yes, and a way to get it. The s3 bucket cannot be directly accessed, there is no exe on bintray, and I am not aware of any other location.

On Feb 9, 2017 7:30 AM, Lorenzo Villani <notifications@github.com> wrote:

You mean adding a link to the exe on the website?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/just-inst

[2017-02-09 23:13] maphew opened #234 "just-install.it domain not available"
http://downforeveryoneorjustme.com/just-install.it

[2017-02-10 12:50] geek1011 commented on #234
There are no A records on just-install.it right now for some reason.

[2017-02-10 16:39] lvillani commented on #234
I opened a support ticket with OVH.

[2017-02-10 17:04] lvillani commented on #234
Btw, it wasn't an OVH problem. After transfering the repo the org I didn't transfer the website outside the gh-pages branch of the just-install repo. I'm surprised that it survived for so long after the transfer. It should be working now.

[2017-02-10 17:05] lvillani commented on #231
While we are at it, let's investigate using a different HTTP client library that can also transparently work with proxy servers (for #220).

[2017-02-26 07:58] lvillani commented on #226
Closing. It should be fixed in version 3.3.1. Please re-open if necessary.

[2017-02-26 07:58] #226 closed

[2017-02-26 08:00] lvillani opened #235 "Support x86_64-only entries"
There are some programs that started shipping 64-bits only binaries (see https://github.com/just-install/registry/issues/10) and we don't support this kind of situation yet. i.e.: just-install assumes that an `x86` is always present (only `x86_64` is considered optional).

## To do
- [ ] Modify just-install to show a message when no 32 bit version is available on a 32 bit system
- [ ] Check for an

[2017-02-27 01:21] geek1011 commented on #235
I agree.

[2017-02-28 06:56] lvillani opened #236 "Communication tool"
Hi there,

A while ago I set up a mailing list on Librelist (which seems to be down at the moment). It's clearly being unused and I think we could benefit either from switching to an IM solution or maybe switching to a mailing list hosted somewhere else (since Librelist seems to be having issues, at the time of writing this).

I would like to use something FOSS but I'm not opposed to stuff like Sl

[2017-02-28 12:19] geek1011 commented on #236
I would not like to use slack. It is a good tool, but I already have enough chat apps taking space and memory, but if you want to use it, it's fine with me.

I already use Gitter, and I like it. IRCCloud seems interesting to me, and it fits all the requirements.

[2017-02-28 13:21] geek1011 commented on #235
I can work on this, but not until the middle of the month. I will add a checklist to your first post.

[2017-02-28 13:35] geek1011 opened #238 "A page on the site to request a new package"
A page on the site which allows people to fill in details of an app and submit a request for it would be nice.

This would be done client side, which means we would need to use something like a prefilled GitHub issue link, Google Forms, or something like that. @lvillani What do you think?

[2017-02-28 17:49] maphew commented on #234
domain is available, but http://just-install.it is now "404 There isn't a GitHub Pages site here."

[2017-02-28 20:17] geek1011 commented on #234
@lvillani Is there a reason why this file was missing?

[2017-02-28 20:18] geek1011 commented on #234
@maphew it should work now

[2017-02-28 21:06] maphew commented on #234
yup all good, thanks!

Not really related but good to know, Github.com "release" downloads are broken today. Includes things like Ghostscript. https://techcrunch.com/2017/02/28/amazon-aws-s3-outage-is-breaking-things-for-a-lot-of-websites-and-apps/

[2017-02-28 21:06] #234 closed

[2017-02-28 21:08] geek1011 opened #239 "Host just-install on Netlify"
We could host just-install on Netlify. It is free, has free SSL, can deploy from a GitHub branch, can use custom domains for free, and can have multiple collaborators on the site.

[2017-02-28 21:09] geek1011 commented on #239
This would solve #212

[2017-02-28 21:10] geek1011 commented on #239
This could also solve just-install/registry#8 with a little bit of work.

[2017-03-01 07:54] lvillani commented on #239
It would also go down with the next S3 outage :)

[2017-03-01 07:55] lvillani commented on #236
I created an account on IRCCloud but the free plan makes it non-viable for me:

[2017-03-01 08:04] lvillani commented on #234
@geek1011 I deleted the file. CNAME configuration should be done in the repo's settings page and the site should be served from https://github.com/just-install/just-install.github.io instead of this repo. Getting a 404 is a sign that it's probably a good time to have the site served from the other repo (it wouldn't let me otherwise). GitHub UI is confusing/confused when there's a mix of repos havi

[2017-03-01 08:09] lvillani commented on #234
It should be working (and being served from the new repo) now.

[2017-03-01 08:13] lvillani commented on #236
I created a gitter account for our organization, may add a badge to our repos later on.

[2017-03-02 11:34] Pafzedog commented on #236
Hello,

Association Framasoft is hosting a free Mattermost instance at https://framateam.org

I don't know if it will suit your needs but it is a FLOSS  alternative to Slack apparently .

[2017-03-02 16:49] geek1011 commented on #236
Framateam and mattermost seems good. It is in French though, but it is fine because I also understand French.

[2017-03-02 21:57] Pafzedog commented on #236
You can change language in settings :)
![language](http://pix.toile-libre.org/upload/original/1488491742.png)

[2017-03-08 18:35] lvillani commented on #236
I can read a fair bit of French (cannot speak nor write though) :) Mattermost is great and we can probably reuse a great deal of Slack add-ons with it since the API is similar. Do newer versions of Mattermost support proper mobile push notifications?

Last time I tried one had to basically recompile their mobile apps to use one own's APNS/GCM server-side tokens and then distribute those apps. We e

[2017-03-21 02:37] pandanautinspace opened #240 "Output of just-install command put into new terminal"
Hi! I've just begun using just-install, and I like it so far. However, the dialogue every time I run just-install is put into a new window which is closed as soon as it finishes. This makes it rather difficult to actually use any of the non-installation features of just-install.

[2017-03-21 02:44] pandanautinspace commented on #240
Never mind, this issue was because of non-elevated command prompt.

[2017-03-21 02:44] #240 closed

[2017-03-31 12:55] breadcat opened #241 "7zip archive support"
I've been trying to add a few applications (PRs incoming) and have noticed that there's no support for extracing 7zip archives in the zip kind.
This feature would be nice for extracting mpv (https://mpv.srsfckn.biz/) which is only distributed in .7z archives.

Is it possible to add support?

[2017-04-07 17:00] redbaty opened #242 "Spotify asks normal user account."
As the title says, the spotify installation asks to be installed on a normal account, instead of a administrator one

[2017-04-07 21:49] geek1011 commented on #242
You can run just-install as a administrator, and all the installers which it stays will be run as admin as well

[2017-04-07 21:50] geek1011 commented on #241
Good idea. I am quite busy right now, but I will look into implementing this.

[2017-04-08 02:41] redbaty commented on #242
@geek1011 I'm sorry if I mistook my point, english in no my primary language. The thing is: it's the exact opposite, it won't install if it is being run as a admin. Even if I open a non-admin cmd and run just-install it asks admin rights and it passes forward to the spotify installation wich refuses to install on a admin account. [Here's a pic](http://i.imgur.com/nYQFBAq.jpg)

[2017-04-19 16:16] lvillani commented on #242
Aw, that's bad. There's no technical reason just-install can't run as a regular user but for some reason unknown to me, Windows insists that an administrator has to run it. Maybe we have to set a flag on the executable at install-time to allow non-privileged users to run it?

[2017-04-19 16:20] lvillani commented on #241
I wonder if we could trigger installation of 7zip via just-install if missing and then use its command line tool to extract the archive somewhere. I cannot find a pure-Go library to extract a `.7z` archive.

[2017-04-19 18:57] Schokobecher commented on #242
@lvillani I think it's related to the "Installer Detection" used by UAC.
See [here](https://superuser.com/questions/857616/how-to-disable-installer-detection-feature-of-uac-in-windows-7-home-premium)
It's seem to even trip based on file names (Like update.exe, installer.exe) - [Source](http://stackoverflow.com/questions/2222217/exe-name-like-update-exe-blocked-by-uac-in-scheduled-task)

[2017-04-24 09:37] breadcat commented on #241
A potential workaround would be to extract the stand-alone 7za binary to the just-install temporary folder on first .7z application request.
Annoyingly, they only package the [latest command line version](http://www.7-zip.org/a/7z1604-extra.7z) as a .7z archive, so if going down this path we could use the [older 9.20 release](http://www.7-zip.org/a/7za920.zip) which is a plain zip file and would s

[2017-04-25 12:26] redbaty commented on #242
Apparently the way chocolatey avoids this is by creating a scheduled task, executing it and deleting the task, so this might be officially incompatible

[2017-05-08 13:08] eldertfrancke opened #243 "Just-install customizer fatal error"
"Error loading package list"

Error in Firefox console
[code]

[2017-05-11 22:58] geek1011 commented on #243
Ok, thanks for reporting this. I'll look into this ASAP.

[2017-05-11 23:03] geek1011 commented on #243
I do not seem to have this issue in Firefox 52, Chrome, Opera, or Internet Explorer 11 on Windows. I have tried on Ubuntu and Windows 10. Please reopen this issue with more details if you still have this issue.

[2017-05-11 23:03] #243 closed

[2017-05-11 23:03] geek1011 commented on #239
Any ideas on this?

[2017-05-12 01:17] guiweber commented on #239
I have personally never used their services, but it seems to me like it could be a simple solution to our SSL woes while providing a solid hosting solution.

[2017-05-12 06:32] eldertfrancke commented on #243
Sorry, I should have tested it before. The issue is solved by disabling the add-on: [HTTPS Everywhere](https://www.eff.org/https-everywhere).

[2017-05-12 10:21] geek1011 commented on #243
Ok. We are also thinking of switching to HTTPS completely quite soon.

[2017-05-12 15:43] geek1011 opened #244 "Allow OAuth access to just-install organization"
I would like to try and see how Netlify will work with just-install, but it uses the GitHub API to access the repositories, which means it cannot see the contents of the just-install repository.

Can you enable access from apps to the just-install organization?

@lvillani

[2017-05-12 15:52] lvillani commented on #236
Closing since we're de-facto using Gitter at the moment.

[2017-05-12 15:52] #236 closed

[2017-05-15 02:33] guiweber opened #245 "Install remaining packages when one fails to install"
When installing several packages at once, just-install stops if one of the packages in the list fails to download/install. The remaining packages are not installed. It would be better if the remaining packages were installed anyway and a list of errors given when the process ends.

[2017-05-15 23:22] geek1011 commented on #245
I would suggest the errors are written to a log on the desktop by default instead, with an optional option to show the errors at the end of everything else instead. This is so people will still see the errors even when using a customized just-install exe launched directly.

There should also be a strict option for compatibility purposes which retains the current behaviour.

[2017-05-27 00:55] knthb commented on #238
Hi! I made a simple package adder site, at https://knthb.github.io/just-install-registry-changer/. Do you think that could work?

[2017-06-01 07:56] lvillani commented on #244
Done!

[2017-06-01 07:56] #244 closed

[2017-06-06 17:56] lvillani commented on #230
Fixed in https://github.com/just-install/just-install.github.io/commit/cf500f67a6d0e73329c98c8d1b226b890e48c595

[2017-06-06 17:56] #230 closed

[2017-06-06 19:40] lvillani commented on #239
Aaaand, it's finally done!

[2017-06-06 19:40] #239 closed

[2017-06-06 19:42] lvillani commented on #212
We are now hosted by Netlify over TLS 🎉

[2017-06-06 19:42] #212 closed

[2017-07-31 17:53] pandanautinspace commented on #242
I think that I can confirm that @Schokobecher is correct about tripping on the file name, with just-install.exe renamed to ji.exe, Spotify successfully installs in normal cmd, while just-install.exe elevates itself and spotify install fails.

[2017-09-24 17:57] geek1011 opened #246 "Do not fail when msiexec.exe returns status 3010"
When msiexec.exe returns error 3010, it means successful installation with a reboot required.

Related issue: just-install/registry#30

[2017-09-24 17:57] geek1011 commented on #246
cc @lvillani @guiweber

[2017-09-24 19:23] geek1011 commented on #246
Fixed. https://github.com/just-install/registry/issues/30#issuecomment-331731443

[2017-09-24 19:23] #246 closed

[2017-09-24 19:24] geek1011 commented on #246
@lvillani How do I do a release? Do I just tag it?

[2017-09-24 23:59] guiweber commented on #246
@geek1011 is the user notified that a reboot is required at the very end of the just-install process or only when the program which returns status 3010 is installed? It would be nice to display something at the very end because if someone installs a large list of programs, he might miss the notice.

[2017-09-25 01:19] geek1011 commented on #246
@guiweber only when the program is installed. I didn't want to try to do too much because I wasn't able to test it because I was using Linux.

[2017-10-17 12:11] geek1011 opened #247 "Update go version to 1.9.1 for CI"
cc @lvillani @guiweber

[2017-10-17 13:37] lvillani commented on #247
AppVeyor should already be using Go 1.9.0 (it's the default for their images), I updated Travis to use the same version.

[2017-10-17 13:38] lvillani commented on #247
Closing this for now.

[2017-10-17 14:18] geek1011 commented on #247
@lvillani btw, it's actually `1.9.1`, not `1.9`.

[2017-10-19 07:20] lvillani commented on #247
1.9.1 only brings a couple of security fixes, none of them seem to impact us. What are the benefits of deviating from the defaults provided by AppVeyor?

[2017-10-19 11:52] geek1011 commented on #247
@lvillani ok, I see your reasoning.

[2017-10-19 11:52] #247 closed

[2017-11-02 19:27] iilyak opened #248 "Ability to specify a checksum of the downloaded exe file"
It would be awesome if registry would support specification of a checksum for downloaded exe file.
[code]
OR by using https://github.com/multiformats/go-multihash

[2017-11-07 08:44] crile opened #249 "List command returns wrong result with --registry option"
Hi,

I write custom registry file, it works to install software. However, "list" command returns the content of the default registry file  not the custom passed in parameter

``just-install --registry just-install-v4.json list``

[2017-11-12 16:19] nickreserved opened #250 "why not "just-install upgrade""
Keep track what versions are installed and when run
just-install upgrade
makes a check if a newer version of all installed programs exist, and install again.

[2017-11-13 22:17] geek1011 commented on #250
Just-install is meant mainly for installing programs, not updating them. Most of the time, running just-install again will upgrade programs just fine.

There is no explicit upgrade command because it would make just-install way more complex (dealing with version checking, conflicts, registry format, etc), and because it is beyond the scope of just-install.

@lvillani and @guiweber, what do you thi

[2017-11-16 23:15] Schokobecher commented on #248
Wouldn't this involve generating these values in the first place? Most software vendors don't offer hashes on their website.

What about updates to the files that aren't advertised on the site (Let's say App/Setup got updated to 1.0.1 without publishing new release info on the website that the updater parses) this would mark the file as invalid and file - right?

[2017-11-16 23:16] Schokobecher commented on #242
So either we have have to rename the project (lolno) or deploy a small helper binary for this?

[2017-11-19 01:08] pandanautinspace commented on #242
Another thing to try is to add an application manifest to just-install (probably using [rsrc](https://github.com/akavel/rsrc)) with requestedExecutionLevel. According to [msdn](https://msdn.microsoft.com/en-us/library/windows/desktop/bb756960.aspx),

[2017-11-20 00:09] guiweber commented on #250
Yes, the idea is to keep just-install simple. However I think we could keep this suggestion on our wish list if @lvillani concurs. I don't think it would be very complicated to keep a list of what has been installed through just-install and add an update command to install again if an updated version is available.

[2017-12-20 19:54] iilyak commented on #248
The idea for checksum is to detect cases when vendor updates the file. The use case I am considering is as follows.
1. We want to automate installation of development environment across the team members
2. We would download all dependencies on one machine
3. We would manually calculate hashes and update `just-install.json` config file (https://github.com/just-install/registry/blob/master/just-inst

[2017-12-20 21:39] guiweber commented on #235
Hey @lvillani @geek1011 , would you have some time to make this happen during Christmas? I could take care of everything related to the registry/updater : Updating the JSON schema and fixing all the problematic entries.

This issue is a bit annoying since it prevents our CI test suite to pass for the registry. It makes it hard to see if pull requests we receive are ok or not and if everything work

[2017-12-20 21:41] geek1011 commented on #235
@guiweber OK, I may work on this after I finish what I am working on right now. I've been quite busy though. I will get around to it sometime before the end of January I think.

[2018-01-06 21:21] nithinphilips opened #251 "Zip extraction fails on certain files"
I was trying to create some new installation packages using just-install and I am having issues extracting certain zip files.

The file that failed was `sqldeveloper-17.4.0.355.2349-no-jre.zip` (it's the *Windows 32-bit/64-bit* download from
http://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html)

(*Oracle won't let you download these files without logging in first. I

[2018-01-07 23:34] geek1011 commented on #251
Did you run just-install as an admin?

[2018-01-08 02:05] nithinphilips commented on #251
Yep. I ran this as admin. I've tried running it from both Admin Command Prompt and Admin Powershell, both gave the same result. Btw, I'm on Windows 10 build 16299.192 ("Fall Creators Update").

[2018-02-02 17:34] devjaa opened #252 "Just install customizer"
![e5949fa4-a461-4c04-8526-47d2fa9ccdbc](https://user-images.githubusercontent.com/32819981/35746619-380281d8-07fc-11e8-8f66-27d73c6eea76.jpeg)

[2018-02-02 23:21] geek1011 commented on #252
I cannot reproduce this error. What browser are you using?

[2018-02-05 09:48] lvillani opened #253 "Sunsetting just-install"
I posted this on December 24th to our Gitter channel, since I didn't receive any feedback, I'm cross posting that message here.

Cc: @geek1011 @guiweber

---

Hi there! I would like to reflect on the current status of just-install and its future.

As you can see, I no longer actively participate in j-i's discussions or development. I no longer have to work with Windows machines, and definitely won

[2018-02-07 21:59] geek1011 commented on #253
Maybe @cyagon might like to, as he/she has contributed a lot to just-install recently?

As for myself, I do not use Windows much anymore, but I often reinstall my virtual machines which I use for testing and the occasional PowerPoint, and I like the simplicity of just-install. I am willing to continue to fix bugs, and keep it working (as I use it every few weeks myself), but I currently do not hav

[2018-02-08 00:21] guiweber commented on #253
Sorry I didn't answer earlier, time has been short these past few months. I also like Just-Install for all the reasons listed by @geek1011. I think it still has its place.

I am committed to keep on maintaining the updater, fixing its bugs and making a few improvements, but unfortunately I don't really have time for more. I hope someone can be found.

[2018-02-08 00:49] cyagon commented on #253
Since im (currently) jobless i have much time to contribute to just-install recently. But i could not maintain just-install itself since im still pretty much a rookie when it comes to programming.

Maybe someone can post something on reddit.com/r/sysadmin ?

[2018-02-08 01:07] geek1011 commented on #253
@cyagon But you would be fantastic at maintaining the registry, judging by your recent PRs.

[2018-02-08 01:18] cyagon commented on #253
the registry? yes, but not just-install (the main software) itself

[2018-02-09 22:28] seffyroff commented on #253
I use JI daily, and much like @cyagon am time-rich at the moment.  I wouldn't call myself a 'programmer' but I sure hack a lot.  I'd be interested in getting involved.  I would like to understand what the desired future state of JI is, the most requested features, and the missing pieces that will keep improvement and iteration flowing productively.  I'll have a poke around the issues and the code.

[2018-03-03 20:58] JordyScript commented on #253
Hey :) I recently discovered JI and it is definitely something I find useful and much like @cyagon and @seffyroff would want to see it live on, but do not consider myself competent enough to lead out in this respect (far from it actually). Handing the project to someone even if not fully qualified, would at least leave the door open for the project to continue, so I hope that will happen. Am inter

[2018-03-03 23:23] geek1011 commented on #253
@JordyScript This project will probably still continue to live on, as @guiweber, @cyagon,  and I still maintain it.

I am willing to take over the organization as owner, even though I don't use j-i as much anymore.

[2018-03-06 09:51] lvillani commented on #253
The biggest fear that I have is that, in the long run, I risk becoming the bottleneck for maintaining just-install and the infrastructure surrounding it. Everything still works, for now, but given my other commitments we risk having important fixes delivered weeks after the fact. I would like to reach the point where I'm not a single-point-of-failure both for just-install itself and its infrastruc

[2018-03-07 19:46] geek1011 commented on #253
@lvillani If you give me access to the DNS for the domain, I can do any fixes needed. If OVH stops working, I can temporarily host it on my VPS. As for billing, I probably cannot do that.

P.S. What's on OVH anyways? AFAIK, the registry's on Netlify, the binaries are on bintray, CI's on appveyor, and I'm not sure where the updater is.

[2018-03-13 17:28] cyagon commented on #242
since this problem with the spotify-installer exists since a couple of years now and spotify still didnt fixed it (with an `/admin` parameter for example) im gonna close this issue for now.

[2018-03-13 17:28] #242 closed

[2018-03-16 18:40] lvillani commented on #253
@geek1011 OVH is the domain registrar for just-install.it, which is basically the only thing I'm currently being billed for (19€/yr). IIRC we're not using Bintray anymore and everything is being kindly hosted by Netlify (for free :heart:).

I can begin the long process of putting everything back under just-install.github.io (so as to remove the dependency on OVH, and me) if we agree to do so.

[2018-03-16 19:48] cyagon commented on #253
Sounds good 👍

For the OVH dns control panel: @geek1011 just needs an ovh account, so you can transfer [the technical contact](https://docs.ovh.com/gb/en/customer/managing-contacts/) for "DNS Zone" to him. in this way he can manage the dns without technically owning the domain.

[2018-03-16 23:42] geek1011 commented on #253
@lvillani sounds good. We should keep the domain for now, but I just got an idea: we could have the github.io as the default registry, but with just-install.it as a fallback. We then continue to use just-install.it, but it we lose it, then we can just create a github repo for j-i and everything works fine with no changes to the client.

[2018-03-16 23:42] geek1011 commented on #253
sorry, pressed close and comment by accident

[2018-03-17 00:25] seffyroff commented on #253
If it comes down to it I can stump up 19EUR for renewing the domain..

[2018-03-18 13:33] cyagon opened #256 "ship exeproxy with just-install"

[2018-03-18 13:36] cyagon opened #257 "github releases as fallback"

[2018-03-18 14:34] cyagon opened #258 "bump registry version to 5"
* squirrel installer
* prevent unnecessary bloat of %PATH% due https://github.com/just-install/just-install/issues/256

[2018-03-18 18:44] lvillani commented on #253
@geek1011 Can you send me an email with your OVH "customer ID" so that I can add you as technical contact?

Btw, the domain is expiring on May 15th, but I'm going to renew it for another year at my expense.

[2018-03-18 18:46] lvillani commented on #253
I'm not sure how to handle the move back to a `.github.io` subdomain for installers besides committing files to repos hosted on GitHub Pages (yuck!). I suspect that in order to host them on Netlify we still need the domain name, please correct me if I'm wrong.

[2018-03-18 19:20] cyagon commented on #253
Github releases?

[2018-03-18 19:24] cyagon commented on #253
@lvillani GitHub releases?

[2018-03-18 19:31] lvillani commented on #253
@cyagon We have mnemonic aliases to install stable releases from the CLI in order to bootstrap a machine (e.g. `msiexec /i http://stable.just-install.it`). GitHub releases kinda defeats that (longer URLs, harder to remember), but I guess I'm just obsessed with reducing friction when bootstrapping a new machine (I consider those short URLs to be part of the "user interface" of j-i, so to speak).

[2018-03-18 19:34] lvillani commented on #253
(I'm talking about a world in which `just-install.it` doesn't exist anymore, GitHub releases to decouple the project from Netlify is perfectly fine).

[2018-03-18 23:20] geek1011 commented on #253
@lvillani I've sent you an email. I also agree with your point about the domain. That is why I suggest using GitHub releases as a fallback if j-i cannot connect to the usual domain, but keep the usual domain for simplicity. If we do that, we should sign the registry to prevent anyone from taking over the domain to distribute malware if we don't renew the it.

Also, I have a really crazy idea which

[2018-03-19 06:32] lvillani commented on #253
@geek1011 There's already [homebrew-cask](https://github.com/caskroom/homebrew-cask) for that, I use it every day 😉

[2018-03-19 13:06] geek1011 commented on #253
@lvillani oops, forgot that homebrew-cask exists. I only remembered about homebrew itself. My bad. :grin:

[2018-03-19 20:25] geek1011 commented on #253
As just-install is not going to disappear anytime soon, I think I'll close this issue to avoid confusion
(for people passing by and looking at the issues). We can still continue to discuss here.

[2018-03-19 20:25] #253 closed

[2018-03-19 20:26] geek1011 commented on #252
As there has been no response for over a month, I'll close this issue now. If you still have this issue, feel free to reopen it with more details.

[2018-03-19 20:26] #252 closed

[2018-03-20 03:18] cyagon opened #259 "ability to change folder/binary names"
https://github.com/just-install/registry/issues/79#issuecomment-373414503
https://github.com/just-install/registry/issues/79#issuecomment-373216476

[2018-03-20 03:20] cyagon commented on #258
* s

[2018-03-20 03:39] cyagon opened #260 "directory "wildcard" for shim creation"
instead of this

[code]

it should somehow look like this:

[code]

[2018-03-20 12:23] geek1011 commented on #260
Really good idea. We should use go-zglob for the wildcards, and have some sort of handling to check for deleted shims.

I also think we should create a custom shim app which deletes itself if it's target does not exist, and which is better integrated with just-install. We could base it off my code to read the appended exe data in the main j-i app.

What do you think @lvillani?

[2018-03-20 12:43] cyagon commented on #260
@geek1011 a custom shim app like exeproxy? this would be awesome :)
i added this issue https://github.com/just-install/just-install/issues/256 as an idea to spare the windows %PATH% variable from unnecessary bloat, since it can cause problems like [this](https://stackoverflow.com/questions/34491244/environment-variable-is-too-large-on-windows-10)

[2018-03-20 13:13] cyagon opened #261 "move content types to the registry"
because the content types had to be changed relatively often so far (https://github.com/just-install/just-install/commit/adf0e29532b478605af2aa68fb71111579919323 https://github.com/just-install/just-install/commit/fc2925429a3fa769ac236255bbc02d46b5851be7) it would be an idea to move the content-types to the registry, either in the `just-install.json`:

[code]
or in an own `content-types.json`

[2018-03-20 16:26] geek1011 commented on #261
To add to this, the application specific types should be in their respective entries (instead of globally), as things such as `text/plain` would possibly signify an error for other applications.

[2018-03-20 16:48] geek1011 commented on #260
@cyagon yes.

It would probably be something like this:

stub.go:
[code]

To test it, build it and `echo C:\Path\To\App.exe >> stub.exe`. That app should launch when you run stub.exe.

[2018-03-20 17:41] cyagon commented on #260
seems to work:
![unbenannt](https://user-images.githubusercontent.com/32183089/37672463-510adf54-2c6e-11e8-8982-18dcdebf1e4b.PNG)

[2018-03-20 17:44] cyagon commented on #260
sadly, im currently (still) a rookie when it comes to coding, so im not really a help when it comes to it :(

[2018-03-20 19:55] geek1011 commented on #260
Actually, you ran it wrong. You need to echo the path to youtube-dl, not run it.

[2018-03-20 20:21] guiweber commented on #261
yup, good idea!

[2018-03-20 21:32] cyagon commented on #260
@geek1011 whoops :sweat_smile:

![unbenannt](https://user-images.githubusercontent.com/32183089/37683950-8bf729ea-2c8e-11e8-9d44-1f0867484504.PNG)

[2018-03-21 12:04] geek1011 commented on #260
@cyagon Yes, that looks good.

[2018-04-25 09:11] lvillani commented on #250
Unfortunately handling upgrades and keeping track of what's installed on the system is outside the scope of just-install, especially with the few developers that can work on it at the moment.

* If just-install keeps track of what's installed on its own it may then may have a view of the world that is not synchronised with the system. What happens if you install something provided by just-install

[2018-04-25 09:11] #250 closed

[2018-04-25 09:13] lvillani commented on #238
@geek1011 I think this can be done with GitHub's [issue templates](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) and a link on the website that preselects it.

[2018-04-25 13:10] geek1011 commented on #238
@lvillani Yes, I was considering that. I might do that later this week.

Also, do you think we should redesign the website? The versions table at the end looks kind of out of place, and the page is also getting a bit cluttered.

[2018-05-09 21:08] dennyhalim opened #262 "easy customizer: file name as options"
just a nice-to-have idea,
instead of re-downloading each time we customized just-install.exe , why not let it read its own file name and use that as options.

example, if we want install firefox, just rename it to just-install_firefox.exe

[2018-05-10 18:57] jbschooley opened #263 "custom install directory?"
I don't think this is implemented, if it isn't, would it be possible to implement passing a custom install directory? I have a small SSD along with a large hard drive and want to keep anything that isn't critical on the hard drive.

[2018-05-11 12:58] dennyhalim opened #264 "just-install did not update"
got a problem.
re-running just-install did not downloading latest installer but it just re-run the old downloaded installer.

should it have somehow expired the old downloaded installer and re-download new installer?

thanks.

[2018-05-11 13:09] lvillani commented on #262
Unfortunately, I don't think we are going to implement this 😅

Encoding packages in the file name is very very brittle:

* What if the user renames the file?
* What if the browser mangles the file for whatever reason?
* What if someone adds so many packages and hits Windows' path length limit?

What seems a like a simple idea is fraught with edge cases and we don't have the necessary engineering r

[2018-05-11 13:09] #262 closed

[2018-05-11 13:11] lvillani commented on #238
I don't have strong opinions about the website as long as it remains short, sweet and simple :)

[2018-05-12 22:59] geek1011 commented on #238
@lvillani OK, I'll probably work on it soon. I'm thinking of having a landing page with a nice gradient as the background, and slightly smaller text for readability. I'm also planning to show the list of apps in a more concise way, as the table is mostly whitespace.

[2018-05-12 23:01] geek1011 commented on #262
I agree with @lvillani .

Why don't you just download just-install and use a batch file (or whatever else) to append the correct options to the exe? That's really all the customizer does.

[2018-05-12 23:03] geek1011 commented on #264
This is hard due to fix due to the installer URLs remaining the same. Maybe we could also check the etag (if present)?

What do you think @lvillani?

[2018-05-13 07:29] lvillani commented on #264
@geek1011 You mean adding the ETag field to the set of data that we "hash" to produce the filename that we use on disk?

[2018-05-14 02:29] geek1011 commented on #264
Yep. I'm also going to see if there are any similar headers we could check.

[2018-05-14 08:08] dennyhalim commented on #264
just an idea...
why not hash the redirected url instead?

[2018-05-14 14:14] geek1011 commented on #264
@dennyhalim Not all installers redirect and it would also require an extra step to check the redirected URL (but it wouldn't be too hard to implement). Most newer web servers support ETags though.

[2018-05-17 07:24] dennyhalim opened #265 "shouldn't customizer also install just-install?"
i tried the customizer and it did works and install other packages,
but it did not installing itself.

is this expected?
i think the customizer should also install itself.
at least let us choose just-install in the customizer.

thanks!

[2018-05-17 07:31] lvillani commented on #238
Please open another ticket to work on revamping the entire website. I strongly prefer a reorg of the current website (i.e. to improve the way it uses space) rather than rebuilding the whole thing from the ground up for change's sake :)

[2018-05-17 20:50] geek1011 commented on #265
This is expected.

There are two reasons why just-install does not install itself:
1. The customizer is meant to be an alternative to Ninite, which runs once without leaving itself behind.
2. j-i is not currently available as a j-i package.

@lvillani what do you think?

[2018-05-17 20:53] geek1011 opened #266 "Website improvements"
Continued from https://github.com/just-install/just-install/issues/238#issuecomment-384280807

[2018-05-28 14:04] lvillani commented on #265
I recall that we once had just-install itself in the registry, and that I removed it at some point. I can't remember why, though 😄

[2018-06-02 17:31] lvillani opened #267 "just-install.it domain"
In #253 I said that I would renew the domain for one more year after May 15th 2018, partial quote follows:

That GitHub issue was questioning the very existence of just-install as a project, but given renewed interest into keeping it alive, that is no longer a problem.

One issue still stands: ownership of the just-install.it domain name. What I mentioned in #253 is still valid today. I renewed th

[2018-07-01 15:08] tim-lebedkov opened #268 "Npackd"
are you interested in some kind of collaboration with Npackd?

--Tim

[2018-07-02 02:32] geek1011 commented on #268
What would it be about?

[2018-07-02 16:33] tim-lebedkov commented on #268
If you look at the old issue https://github.com/just-install/just-install/issues/30 we already implemented a couple of things. If you have any ideas, please let me know.

In my opinion the next step could be a common naming convention for the packages. I would not suggest to rename the existing packages, but at least ensure that in the future the same package will get the same name in both package

[2018-07-15 09:13] FloatingShuYin commented on #263
I am also worried about this issue. I found that these software will be installed on my system disk.

[2018-07-16 18:06] lvillani commented on #265
I'm closing this ticket since there are no immediate plans to add such feature, but we may reconsider this choice in the future.

[2018-07-16 18:06] #265 closed

[2018-07-19 08:30] sskras commented on #268
I though I wrote a comment yesterday (idea of libnpackd), but i can't see it today.  Was it deleted:)?

[2018-07-19 15:23] lvillani commented on #268
I don't think we've ever deleted a comment.

[2018-07-19 16:15] geek1011 commented on #268
We never deleted a comment. GitHub now shows it if we delete or edit another person's comment, and there is also nothing in the audit logs for the organization.

[2018-07-19 18:20] sskras commented on #268
(Thanks, probably my Chromebook ate it [was heavily oveloaded]. Since now I am free of fear of being anoying, there it is)

@tim-lebedkov in [his last comment in #30](https://github.com/just-install/just-install/issues/30#issuecomment-43549985) wrote:

To which @lvillani replied:

Could it be solved in elegant way by spliting the needed code into something like libnpackd – a shared library?  So ju

[2018-07-20 17:13] tim-lebedkov commented on #268
Npackd repository format is pretty simple, very similar to that of just-install so it would be easier to just write the code to load it in just-install than create a shared library. It would be even simpler to writer a converter that takes an Npackd repository and exports the data in just-install format.

[2018-07-26 07:46] UKayeF opened #269 "Just-install customizer fatal error"
REPLACE THIS TEXT WITH A DESCRIPTION OF THE ERROR

Error message:
[code]

[2018-07-26 17:14] lvillani commented on #269
I cannot reproduce this problem.

[2018-07-26 17:18] lvillani commented on #263
I'm afraid we won't be able to address this issue given the sheer amount of installer engines currently available on Windows and our limited man-power. I'm closing this issue but we may end up re-evaluating this decision in the future if there's enough demand for it.

[2018-07-26 17:18] #263 closed

[2018-08-02 06:43] UKayeF commented on #269
Me neither. Seemed like this was due to the firewall installed at my workspace.

[2018-08-02 07:04] lvillani commented on #269
Ok. I'm closing this issue then.

[2018-08-02 07:04] #269 closed

[2018-08-17 22:46] IviIIani commented on #268
Go away

[2018-08-18 10:16] tim-lebedkov commented on #268
What was that?
![bildschirmfoto vom 2018-08-18 12-14-12](https://user-images.githubusercontent.com/831371/44298281-7a1e9a00-a2e0-11e8-821c-fbe976352866.png)

[2018-08-18 10:39] lvillani commented on #268
A script kiddie creating a new account mimicking my username (replacing 'L's with 'I's) and posting random stuff to orgs, PRs and issues I'm involved with. He's gone now.

[2018-08-20 05:20] lvillani opened #271 "Use Go 1.11 and "Go Modules""
Go 1.11 finally removes the restriction to work inside `%GOPATH%`, this should make development easier since it allows the repository to be checked out everywhere.

Go 1.11 should be released in late August.

References:
* https://tip.golang.org/doc/go1.11
* https://tip.golang.org/cmd/go/#hdr-Modules__module_versions__and_more

[2018-08-20 16:15] lvillani opened #273 "Revise internal API"
They are awful and skip error reporting, using `log.Fatal` everywhere, which is bad.

[2018-08-21 06:31] lvillani opened #274 "Translate Python build script to Go"
The Python build script exists because cmd.exe is a terrible command shell and PowerShell isn't any simpler/better.

Having Python in the mix, however, complicates things for developers (and CI). Ideally we would want people to only have to install the Go compiler and be done with it.

Translate the build script to Go in a form that we can `go run`.

[2018-08-22 03:46] geek1011 commented on #273
We could have something like the following:

[code]

[2018-08-22 19:30] #249 closed

[2018-08-22 19:52] #235 closed

[2018-08-24 21:11] deguix commented on #251
Also applicable the pull-request from registry here: https://github.com/just-install/registry/pull/97. The subfolder doesn't get created first so the file extraction fails.

[2018-08-25 02:19] geek1011 commented on #251
After looking at https://github.com/just-install/just-install/blob/847b6d39839116694939cb519be5ce3f666d48bd/pkg/justinstall/util.go#L242, it seems like it is due to the way directories are created. IIRC, zip dir entries don't always need to be before the file entry, although most zip utilities store them that way. If you could upload an example of a zip file somewhere, I can take a look to see if

[2018-08-25 05:57] #271 closed

[2018-08-25 05:58] #251 closed

[2018-08-25 06:03] lvillani opened #276 "Switch to Go 1.11 from AppVeyor's base image once it becomes available"
Opened a support ticket to AppVeyor.

[2018-08-26 08:01] lvillani commented on #276
Tracking issue: https://github.com/appveyor/ci/issues/2580

[2018-08-26 08:05] lvillani commented on #260
I'm a bit against using wildcards to create shims since it could end up creating them for unrelated executables if a new version of a package ends up adding more stuff to that directory. I'm still leaning on an explicit list: it's a bit more typing but we usually only have to do it once per package.

[2018-09-01 07:55] #276 closed

[2018-09-01 09:01] lvillani commented on #274
Done in e9d2d8bcb420eaf16e31fc9a31e4bde1c1f51e14

[2018-09-01 09:01] #274 closed

[2018-09-26 06:23] lvillani opened #277 "Revert to GOPATH, undo Go modules"
Go modules work just fine, but the tooling isn't ready yet and it makes developing just-install a pain.

Postpone Go modules migration until the ecosystem is ready.

See also: https://github.com/golang/go/issues/24661

[2018-09-26 22:29] geek1011 commented on #277
Maybe we could use both govendor and go modules?

[2018-09-27 15:08] lvillani commented on #277
IIRC modules are mutually exclusive with $GOPATH.

[2018-09-27 16:00] geek1011 commented on #277
But modules can import from govendor's config, and modules with be used by tools that support them. That way, we can have govendor as the source of truth while still supporting modules.

[2018-09-30 06:25] Sheepdisease opened #278 "Standalone Application"
Is it possible to install this script as a standalone application in Windows? Perhaps this could build on the success of this project with a userfriendly UI to make this the best available solution.

[2018-09-30 11:30] lvillani commented on #278
I'm afraid I don't understand the question. just-install is distributed as a stand-alone binary, by the means of a Windows Installer package.

[2018-09-30 14:31] geek1011 commented on #278
There is also the just-install customizer, if that's what you're looking for. It's similar to Ninite.

[2018-10-01 14:50] lvillani commented on #277
You can seed a module from govendor's config, once it's done, it lives a life of its own, IIRC. You can't easily build a module if it lives within $GOPATH (the compiler refuses to do so, unless you force it).

Essentially only the core Go 1.11 build toolchain and GoLand understand modules at this point, everything else breaks in one way or another.

You have to jump through hoops to make both worl

[2018-10-12 16:51] lvillani commented on #278
Closing due to inactivity. Feel free to re-open if necessary.

[2018-10-12 16:51] #278 closed

[2018-10-13 11:51] #277 closed

[2018-10-25 14:11] lvillani commented on #267
Heads up: one week left.

[2018-11-01 13:56] lvillani opened #281 "Migrate back to just-install.github.io"
Action items following up on #267.

This will have the positive side effect of greatly simplifying our infrastructure by removing domain managment, Cloudflare, Netlify and a bunch of hackish CI jobs from the mix.

#### Checklist (WIP)

- [x] Release new version of just-install that fetches the registry from GitHub.
- [x] Publish unstable release as CI artifacts.
- [x] ~~Publish stable releases to

[2018-11-01 14:00] lvillani commented on #267
The plan to move back to GitHub-provided domain is now irrevocably in effect. Action items detailed in #281.

[2018-11-01 14:00] #267 closed

[2018-11-01 16:00] geek1011 commented on #281
I think we should keep netlify, and use a subdomain of netlify. It will make it easy to move things around, as it allows more control than GitHub Pages.

As for beta/unstable, a CI job could be setup to build releases on every commit with the tag unstable.

[2018-11-18 21:23] cyagon opened #282 "just-install stable version with support for 64-bit only entries"

[2018-11-18 21:37] geek1011 commented on #282
@lvillani can you do a release?

[2018-11-19 06:41] lvillani commented on #282
Sure! I'll try to get it done this week, along with the first action item of #281.

[2018-11-20 16:53] lvillani commented on #281
I would really like to slim down our infrastructure requirements to the bare minimum so that I can fit everything in my head :smile:.

Originally we went to Netlify to get TLS support for the most part. Now that GitHub supports TLS I don't a particular reason to keep Netlify around, besides some perceived flexibility gain (which we don't need right now?!).

I'd like to try to get rid of it in orde

[2018-11-20 16:57] geek1011 commented on #281
I agree with your first point, but for your second, I strongly believe we should keep netlify. I had quite a few issues when moving stuff around on my own site (first renaming pages, then getting let's encrypt to work properly on GH and my own server, and then SEO issues when moving the whole domain). By keeping netlify, we keep flexibility around redirects.

[2018-11-22 07:32] lvillani opened #283 "Registry v5: Add mechanism to display a message upon installation"
Add a mechanism to display either a warning message (continues installation) or an error message (aborts installation) upon installation.

This can be used to e.g. call out the likes of Piriform which make it hard to install their products without Google Chrome. See also https://github.com/just-install/registry/issues/109

[2018-11-22 07:48] lvillani commented on #268
We don't have the necessary bandwidth to handle this on our end for now. Closing. Feel free to reopen this in the future.

[2018-11-22 07:48] #268 closed

[2018-11-22 07:51] lvillani commented on #282
It should be out. Can you close this issue once it is verified that it solves your issue?

[2018-12-05 09:49] longtth opened #284 "can't install app: error code 1620"
I've tried to install apps using `just-install`, but got error 1620,
Could you help me to have a look on it?
[code]

[2018-12-05 09:53] longtth opened #285 "Just-install customizer fatal error"
Tried click on [create custom installer] button, then I got this message.

Error message:
[code]

[2018-12-05 17:11] lvillani commented on #285
We are moving from just-install.it domain to just-install.github.io and the customizer broke due to CORS headers. I temporarily disabled the button on the home page to access it (the customizer is still there, just invisible by default) until we fix this issue.

[2018-12-05 18:46] lvillani commented on #283
On second thought, this is probably a bad idea. it should probably be implemented if enough people start asking why a package isn't present.

[2018-12-05 18:46] #283 closed

[2018-12-05 19:01] lvillani commented on #284
For some reason the download gets truncated at around 85-90%

[2018-12-08 16:31] otaru1921 opened #286 "When using justinstall git, download doesn't complete."
It stops download at around 10-15% and then gives corrupt file error.

[2018-12-10 10:09] lvillani commented on #284
SHA256 checksum are on the roadmap. The real issue here is that we are silently truncating downloads without reporting errors to the user. I think I found the piece of code responsible and I'm amazed it never raised an issue before :sweat_smile:

[2018-12-17 08:08] lvillani commented on #284
After adding a bunch of error checks (shame of me for not adding them in the first place) I got this:

[code]

So... we are setting a 10-second timeout in the `http.Client` instance we use ([see here](https://github.com/just-install/just-install/blob/121a74eddd9f7e197d12169e7ca6bd23c853394d/pkg/justinstall/util.go#L220-L223)) which ends up aborting the request after 10 seconds even when we are act

[2018-12-17 08:15] lvillani opened #287 "Rewrite HTTP client"
Build a new set of HTTP client helper functions built on top of Go's http/client but written with the following principles in mind:

* Handle errors correctly instead of using log.Fatal everywhere
* Better layering of helper functions (currently it's a bodged-together mess)
* Add support for features we'll need to implement registry v5 (cookie bag, etc)
* Handle partial downloads: at the moment a

[2018-12-22 11:26] #282 closed, assigned to lvillani

[2018-12-23 08:42] lvillani commented on #284
This should be fixed in v3.4.3

[2018-12-23 08:42] #284 closed

[2018-12-25 08:31] iota-dev opened #288 "Please add chromium"
Please add chromium, it has only google-chrome app

[2019-01-16 02:02] a925sw opened #289 "Just-install customizer fatal error"
Does not load anything, just errors.

Error message:
[code]

[2019-01-18 09:04] lvillani commented on #289
Hi! It seem to be working for me on Firefox (note to self: I'll try Edge and Chrome later). Which browser are you using right now?

[2019-01-20 01:08] a925sw commented on #289
I apologize I should have looked into it more. The issue is on my end. It
appears rawgit.com is on some block lists so it wasn't loading due to that
fact. Again, my apologies.

On Fri, Jan 18, 2019 at 4:04 AM Lorenzo Villani <notifications@github.com>
wrote:

[2019-01-20 08:49] lvillani commented on #289
That's actually a problem on our end. We migrated away from rawgit some time ago. The registry is now being served by GitHub Pages. Plus, rawgit has been EOL'ed by its original maintainer. Good catch! I'll try to fix it soon-ish.

[2019-01-20 09:21] lvillani commented on #289
Hi @a925sw, I removed all references to rawgit I could find. The issue should now be fixed.

[2019-01-20 09:21] #289 closed

[2019-02-01 08:33] lvillani commented on #287
We already support HTTPS downloads. We are not going to force them like e.g. HTTPS Everywhere does in browsers, though.

[2019-02-04 13:04] longtth opened #292 "openssh: wrong install location"
as Google, the openssh bin should be places in `%WINDIR%\System32\OpenSSH`

But after install OpenSSH using just-install, I found the binaries stored in `C:\Program Files\OpenSSH`.

Could you have a look on it?

[2019-03-21 11:09] tlm-2501 opened #293 "Add support for other archive types than .zip"
7zip would be particularly nice to see as I see it being used to distribute some software. I have tried to create a registry entry for MPV for example and instead of it being a simple extraction operation in just-install itself, it ends up becoming something of a nightmare with having to write a custom installation script that would download 7za and extract the archive for me.

[2019-03-21 19:08] lvillani commented on #293
Duplicate of #241

[2019-03-21 19:08] #293 closed

[2019-03-22 08:37] ooa113y opened #294 "Add support for local installer files in registry and for http(s) URLs for -r"
This would be extremely useful for installing software that cannot be added to the public registry for whatever reason (e.g. commercial), but that you have a local copy of. Currently, just-install fails to "connect" to such a file:// URL or a directly specified local path. Possibly related to #287.

[2019-03-22 19:50] geek1011 commented on #294
I see your point, although, in most situations wouldn't it be better to run a local web server for security and maintainability reasons?

[2019-03-22 20:02] tlm-2501 commented on #294
A temporary web-server does indeed work and is my current work-around for this issue (if anyone happens to be interested in doing the same thing, I'm using `php -S` with the PHP package which conveniently already is on JI). But hat makes this really awkward to use is that `just-install -r` doesn't accept a URL as of now. So if you want a custom repository, you currently have to juggle both a local

[2019-03-23 00:21] geek1011 commented on #294
Yep. I personally prefer python (in j-i) or caddy.

@lvillani?

However, on previous versions of Windows, curl is not built-in.
Good point. I'm usually use Linux or MinGW, so I keep forgetting how bad the windows command line is.

Yes, I assumed this was for enterprise use, in which having the installers centrally managed instead of somewhere they can be manipulated by users.

[2019-03-24 02:13] geek1011 opened #295 "Switch to go modules"
I think go modules and the tooling around it is mature enough to use now. I just switched most of my projects over, and it is significantly better. `go mod vendor` can be used to have a vendor dir for backwards compatibility and reproducibility, `gopls` works well in vscode, the `replace` directive is quite useful, and things seem quite a bit more polished than last time I tried it,

Doing this wo

[2019-03-24 02:21] geek1011 opened #296 "Check file contents in audit"
It would probably be cleaner and more accurate to check the file contents instead of the mimetype when doing the audit.

- `4D 5A`: *.exe
- `D0 CF 11 E0 A1 B1 1A E1`: *.msi
- `50 4B`: *.zip

[2019-03-24 08:40] lvillani commented on #295
Aww yes! Looks like the next version of `vscode-go` should have OOB support for gopls. Tried it briefly on a couple of projects using modules and it seems to work way better than what we had before.

I'm taking the soft migration path by leveraging `go mod vendor`. Unlike last time, I'll wait a while before I remove the vendor folder and let AppVeyor cache dependencies in between builds.

[2019-03-24 09:29] lvillani commented on #296
It would be really nice to find a pure-Go implementation of `libmagic` for this purpose.

The problem is that we'll have to download the first few bytes of the file every time we run the audit instead of performing an `HEAD` request and smoke-check that we get the expected media type.

Our current implementation does a full GET request but that is mostly the result of our terrible internal APIs th

[2019-03-24 09:36] lvillani commented on #294
Agreed, we should uniformly support both local and remote sources.

[2019-03-24 12:47] geek1011 commented on #295
Yep. One of my favourite features of `gopls` is the refactoring/reference search doesn't thrash my disk for a few minutes searching everything I have. Also, the error checking is quite a bit faster.

As for `go mod vendor`, I'm using it for all my projects until I feel Project Athens is usable enough.

[2019-03-24 13:26] geek1011 commented on #296
I'd rather just implement the parts we need manually. I'd read the input byte-by-byte until it matches a known msi/zip/exe magic or there aren't any left to match. We would probably also want to make sure the type matches the expected type used during installation. We can probably also implement known-good sources like GitHub where the mimetype matches the file.

I think this should be pretty ligh

[2019-03-24 14:04] lvillani commented on #295
I just decided to resurrect the stuff I did the first time I tried modules (i.e. let AppVeyor cache dependencies between builds). I dislike the idea of having hundreds of extraneous files in the repo :)

[2019-03-24 15:30] #295 closed

[2019-05-01 11:03] #281 closed

[2019-05-13 21:49] freddii opened #298 "not able to install bleachbit, doublecmd, qbittorrent and wireshark with just-install on Windows 10"
not working:

just-install bleachbit
just-install doublecmd
just-install qbittorrent
just-install wireshark

[2019-05-16 09:05] lvillani commented on #298
Some notes I gathered while reproducing the problems:

* `bleachbit`: NSIS installer that somehow exits with code `666660`. Need to investigate.
* `doublecmd`: We fetch it with the `.exe` extension but it's really an MSI. Works OK on x86_64, fails with x86 builds.
* `qbittorrent`: Must add `"options": {"extension": ".exe"}` to its registry entry.
* `wireshark`: It seems they changed the installer

[2019-05-17 17:20] lvillani commented on #257
We now push releases both to GitHub releases and the website.

[2019-05-17 17:20] #257 closed

[2019-06-01 13:23] ancientaccount opened #299 "Using another location for installations"
Hello 👋

Is it possible to specify the hard disk on which I want to perform the installation or will they be on the hard disk where Windows is installed?

I'd like to use the tool for my school. However, computers are equipped with an SSD and a hard disk. I had the idea to make a first "software package" for the SSD and another for the hard drive.

[2019-06-01 16:19] geek1011 commented on #299
No, this currently isn't possible as it would mean needing to add additional options to the installer, which not installers support. It would also increase the complexity of just-install, which is meant to be as simple as possible.

A possible workaround would be to create a custom registry with additional command line options for the packages to control the installation location.

[2019-06-02 08:26] ideaman924 opened #300 "Jetbrains Toolbox did not install"
Is this a bug? I tried `just-install jetbrains-toolbox`. After selecting yes to the UAC prompt the install never happened and the prompt returned:

[code]

What's going on?

[2019-06-05 07:49] user2301 opened #301 "Uninstall the packages from command line"
Is it possible to uninstall a single package or list of packages from command-line?
for e.g.` just-install uninstall package_a, package_b`

[2019-06-06 19:34] #299 closed

[2019-06-06 19:35] lvillani commented on #301
Nope, sorry. We don't plan to add this feature.

[2019-06-06 19:35] #301 closed

[2019-10-08 07:35] sfivaz opened #303 "I'm sorry but I don't know where I can ask a question. So how to set to install a software in D:/?"
how to set to install a software in D:/?

[2019-10-09 14:28] lvillani commented on #303
I'm afraid installing apps other than on `%SYSTEMDRIVE%` is currently not supported. There are no plans to add this feature in the future.

[2019-10-09 14:28] #303 closed

[2019-10-10 00:07] sfivaz commented on #303
thank you for your answer!

On Wed, Oct 9, 2019 at 4:28 PM lvillani <notifications@github.com> wrote:

[2019-11-06 18:18] mimi89999 commented on #245
Any update on this? Recently `notepad++` started failing which resulted in incomplete deployments with many programs missing. One program missing would be be better than several missing. I think that _just-install_ should by default continue when a program fails or at least there should be an option for this.

[2019-11-30 18:11] lvillani commented on #245
Should be fixed in 3.4.6. Closing.

[2019-11-30 18:11] #245 closed

[2019-12-08 15:14] mimi89999 opened #304 "Add support for JetBrains NSIS installers"
Hello,

Some installers (mainly of JetBrains products) require a configuration file: https://github.com/just-install/registry/issues/115

Would it be possible for JustInstall to add support for creating those config files?

[2019-12-29 15:05] lvillani commented on #304
It’s unlikely we’ll ever add support for creating such configuration files on the fly.

JetBrains products use NSIS and there’s _no reason at all_ for them to not support the standard NSIS method of performing silent installations. I played a bit with it and the only required parameter is `mode` and there’s no justification for being unable to pass it from the command line.

Their installer is bro

[2019-12-30 09:35] lvillani opened #305 "Drop support for "zip" and "copy" installation methods"
Keep support for running installers inside ZIP containers though.

[2019-12-30 09:39] lvillani opened #306 "Add registry directive to skip audit check"
These are currently hardcoded inside the executable but should really be moved to the registry file.

[2019-12-30 09:41] lvillani commented on #259
I'm phasing out support for stuff distributed exclusively via ZIP files, so it's unlikely this will ever be implemented.

[2019-12-30 09:41] #259 closed

[2019-12-30 12:28] lvillani commented on #264
This is out of scope for now. Closing.

[2019-12-30 12:28] #264 closed

[2019-12-30 14:20] mimi89999 commented on #304
Could you please explain that to them on the issue tracker? I tried, but I think that I wasn't able to explain the issue clearly enough, so that they understand it.

[2019-12-30 22:44] mimi89999 opened #307 "Add pre and post install scripts"
This feature would allow a clean work arround for various installer issues. I hope that that feature is in the scope of this project. If it is, I could try to implement that feature. I would really like to be able to install all the apps I need with just-install.

[2019-12-30 22:46] mimi89999 opened #308 "Add parallel download and install"
This feature could speed up the entire process of downloading and installing apps with just-install. When an app is in the process of being installed, the next app could be downloaded simultaneously.

[2019-12-31 16:38] lvillani commented on #307
Can you provide an example of why this is needed?

[2019-12-31 17:09] lvillani commented on #258
Supporting new installer types is an additive change that doesn't warrant a registry version bump. Older j-i releases will still be able to load the registry and install 90% of entries in there. Closing for now.

[2019-12-31 17:09] #258 closed

[2020-01-01 01:14] mimi89999 commented on #307
Currently it could solve the issue with installers requireing config files. Postinstall could be used to add shortcuts in start menu for unzipped apps. There are many other possible use cases.

[2020-01-02 15:10] mimi89999 opened #310 "Add start menu liniks for zip installers"
If it is in the scope of the project, I can open a PR for it.

[2020-01-02 15:22] mimi89999 commented on #305
Why? There are currently 24 apps in the registry of `zip` kind and two `copy`. Some of them appear to be quite popular. While it would be best if upstream makes a proper installer, I don't think it is a necessary requirement to install an app.

[2020-01-03 10:37] lvillani commented on #305
Yup, that was an oversight while I was refactoring that piece of code. In the end keeping support for zip containers still leaves a bunch of ugly code around, we gain nothing by removing zip and copy methods.

[2020-01-03 10:37] #305 closed

[2020-01-03 10:52] lvillani commented on #310
Closing as out of scope. See also https://github.com/just-install/registry/issues/181.

[2020-01-03 10:54] lvillani commented on #308
Pipelining is difficult to implement properly and would add too much brittle code (we have enough already 😅). We'll re-evaluate this in the future but it's definitely out of scope at this point.

[2020-01-03 10:54] #308 closed

[2020-01-03 10:59] #287 closed

[2020-01-03 11:00] lvillani commented on #294
See #287

[2020-01-03 11:00] #294 closed

[2020-01-03 11:53] lvillani commented on #304
Re-opening since it's easier to just implement this (as a one-off workaround) rather than adding other mechanisms.

[2020-01-03 12:00] #306 closed

[2020-01-03 12:44] mimi89999 commented on #304
Can't it be done with #309?

[2020-01-03 12:45] mimi89999 commented on #310
Is it really so much out of scope? A program isn't quite usable if users can't find it.

[2020-01-03 13:37] lvillani commented on #310
If upstreams cared about Start Menu entries, they would ship proper installers instead of a bunch of binaries in a zip file. Our job is to fetch something and install it, which in the case of ZIP files means extracting them somewhere. If we start creating `.lnk` files we turn into yet another bespoke installer.

[2020-01-03 13:46] lvillani commented on #307
This will make auditing the default registry harder, due to the ability to add arbitrary commands in these hooks. We don't have the resources to handle this additional load. I, in particular, don't have a Windows machine always at my disposal to test incoming changes.

just-install is all about hard-coded defaults that cover 80% of what we need, doing 20% of the work. Despite that we struggle to h

[2020-01-03 13:46] #307 closed

[2020-01-03 14:27] mimi89999 commented on #310
But extracting an app to `Program Files` doesn't quite mare it usable. You have to know the path and navigate there. Why do you think that adding a single link will turn _just-install_ into another _bespoke installer_? It would just be extracting an archive and creating a link. Nothing simpler. The equivalent of two commands.

[2020-01-03 15:42] mimi89999 commented on #304
Maybe it could be another installer kind.

[2020-01-04 16:23] #304 closed

[2020-01-04 21:04] geek1011 commented on #307
You could maintain a personal fork with that feature, and use something like [json-patch](https://github.com/evanphx/json-patch) (or even something custom) to apply your changes to the registry. I'd say it would take at most an hour of work to add install scripts (just add a field to the registry with an array of commands (split the arguments into an array) to run with `exec.Command(args...).Run()

[2020-01-04 21:30] geek1011 opened #312 "Registry overlays"
I've been thinking about the recent requests for custom registry URLs, modified registries, and so on. I think I've come up with a potential solution for these requests which requires minimal work for j-i while retaining the most flexibility.

Basically, this would add a repeatable flag to j-i to load additional JSON files from the filesystem or a URL. These JSON files would be in the same format

[2020-01-07 18:07] mimi89999 commented on #307
I changed my strategy and will try to add most functionality directly to _just-install_. I'm using them for common tasks that I think _j-i_ should support and will implement that and open PRs.

I'm also working exclusively on GNU/Linux. O only have a VM for testing. I'm working as a sysadmin and need j-i for automatically deploying software on ~100 computers.

[2020-01-07 18:18] lvillani commented on #310
Re-opening this issue since I'm re-evaluating adding this after seeing #313

[2020-01-07 18:56] geek1011 commented on #307
@mimi89999 Have you considered wrapping the installers/zips with Inno setup, then deploying those with j-i? Inno setup has an option to not create uninstall info (which is useful for wrapping installers), and it also has a relatively simple source format (I wrote a simple Go generator for it a while ago). It would probably be easier in the long term to write an automated repacker/wrapper which gen

[2020-01-07 19:29] mimi89999 commented on #307
@geek1011 I was considering WiX as it has the advantage of building MSI packages. They have many advantages including the possibility of deploying them with GPO. One argument against them might be that Microsoft hasn't updated MSI for quite some time and most likely plans to replace them with MSIX, but Microsoft has a long history of keeping legacy technologies, so that probably will not be an iss

[2020-01-07 19:43] geek1011 commented on #307
@mimi89999 That's why I suggested Inno. Wix is nice, but it's extremely complicated and error-prone to do any custom actions in MSI files.

Regarding your point about j-i issues being fixed and saving time, j-i has barely been keeping up with the issues, as neither I nor @lvillani use Windows enough to justify spending large amounts of time on j-i (most of the work is done whenever we need Windows

[2020-01-07 20:18] mimi89999 commented on #307
@geek1011 I would disagree. Upstream changing anything (download URL, installer or even executable name) might disturb custom packaging and that would probably only be noticed after being reported by users. _j-i_ registry gets updated by contributors, so any such issue will probably get fixed rather fast.

Of course, best would be to get upstream to do that, but I am not too optimistic about that.

[2020-01-07 20:47] geek1011 commented on #307
@mimi89999 You could do something in-between by using the j-i registry (j-i has it in a separate package) as the source for repackaging.

[2020-01-07 21:17] mimi89999 commented on #307
@geek1011 There are probably many options. I think that my contributions to _j-i_ might also benefit the entire community. That's also a reason why I am making them. Nobody besides you and @lvillani commented under those issue. Evaluating where users want a feature might be difficult without feedback.

[2020-01-18 08:43] #310 closed

[2020-02-21 13:50] PantACRO4life opened #315 "windows 7 not working"
Ive been using it for quite while now, I am doing test to upgrade 300 computer and I notice it doesnt install correctly on win7

looking foward for an answer asap !!

thanks and good work

[2020-02-21 15:36] mimi89999 commented on #315
What's the issue exactly? What program doesn't install?

[2020-02-21 15:39] PantACRO4life commented on #315
just-install itself is not installing with msiexec or and manual installation work but cannot install 7zip

[2020-02-21 15:41] mimi89999 commented on #315
Are you installing it in `cmd` run as `Administrator`?

[2020-02-21 15:41] PantACRO4life commented on #315
.. oc

[2020-02-21 15:43] PantACRO4life commented on #315
![image](https://user-images.githubusercontent.com/6643071/75048702-f32f1c80-5496-11ea-94ba-52b8705f2dc0.png)

[2020-02-21 15:44] PantACRO4life commented on #315
note that this is a none-upgraded windows 7 on a ESXi hypervisor only for testing deployement

[2020-02-21 15:45] PantACRO4life commented on #315
![image](https://user-images.githubusercontent.com/6643071/75048863-37bab800-5497-11ea-81c2-fcdf1b9e1752.png)

[2020-02-21 16:22] lvillani commented on #315
In my experience that’s a TLS negotiation issue. GitHub stopped serving anything less than TLS 1.2 [a couple of years ago](https://github.blog/2018-02-01-crypto-removal-notice/) and as far as I know unpatched Windows 7 doesn’t ship with TLS 1.1 or TLS 1.2 enabled out of the box. For example even IE 8 inside a clean Windows 7 VM is unable to connect to some HTTPS sites these days.

[This document](

[2020-02-21 16:23] PantACRO4life commented on #315
ok thanks, and yes that why we upgrading our clients

[2020-02-21 16:23] #315 closed

[2020-02-21 21:39] servusDei2018 opened #316 "Automate package addition"
As this project grows large, merging pull requests from out-of-date forks will become an issue.

To fix this, I propose the following:

- Packages are added by a special issue template
- Packages added by this template have a "addition" tag
- The managers of this repository periodically sift through those additions, and if approved, add the "addition-approved" tag or close them after adding the "a

[2020-02-21 21:41] servusDei2018 commented on #238
#316 describes an optimal solution that may be used in conjunction to some sort of online system. In fact, an online system could wrap around it.

[2020-02-21 21:44] servusDei2018 commented on #316
@lvillani

[2020-02-24 11:09] lvillani commented on #316
Given the low volume of pull requests it's more effort to create the automation than to process whatever incoming PRs we receive. I'm closing this issue for now, since I doubt we have the resources to pursue this, but will surely re-evaluate this in the future.

[2020-02-24 11:09] #316 closed

[2020-02-28 16:52] mimi89999 opened #318 "Add a simple dependency system"
A package could depend on one or more other packages from the registry.

When a dependency is encountered, `just-install` will install it just before the requested package. If that dependency if in the all list passed as arguments, if it is before the app with the dependency, it will be ignored and if it is after, it should be removed from the list.

The requirement for adding a dependency should

[2020-02-28 16:55] mimi89999 opened #319 "Add the possibility to choose the language of apps to be installed"
Some apps like Firefox or Thunderbird have a different installer for each language. I don't know if any other app like this exists, but it would be nice if the language could be chosen in J-I.

If accepted, I can write the code for this.

[2020-02-28 16:56] lvillani commented on #319
Duplicate of #218

[2020-02-28 16:56] #319 closed

[2020-02-29 11:32] lvillani opened #321 "Semantics of "--force" command line flags are unclear"
At the moment the `--force` flag seems to cause all `Fetch` calls to overwrite all files we are attempting to fetch. Including the registry. E.g.: `just-install -f foo` will force-download both the registry and foo's installer. This is unexpected since we have the `update` action that force-downloads a fresh registry.

Rename `--force` to `--force-download` and make it apply only to installer down

[2020-03-03 20:08] mimi89999 commented on #321
`--force-download` could be confused for re-attempting downloads after an error.

[2020-06-06 08:10] aaronwi opened #322 "Application aborts when timed out or install fail"
When running just-install with multiple program parameters, if one fails due to a timeout or unspecified error, the program will stop running. I noticed speeds also seem to greatly decrease after the 4th or 5th consecutive download, throttled down to 10-50kb/s or lower

[2020-06-06 08:11] aaronwi opened #323 "no indicator of success or fail"
Some applications fail with silent install and give no indication that they were not successfully installed.

[2020-06-06 13:07] mimi89999 commented on #323
Could you please give an example of such an application?

[2020-06-10 10:45] mimi89999 opened #324 "Logging to a file"
Hello,
It would be nice if it was possible to log to a file. I know that I can redirect output to a file with `just-install.exe app_name 1> C:\just-install-log.txt 2>&1`, but the file I get isn't quite readable because of the way the progress bar is being updated.

[2020-06-10 11:25] mimi89999 opened #325 "downloads stalling"
Hello,
Around 20% of our deployments are getting stuck due to downloads stalling and require manual intervention. When the downloads are stalled (transfer being several kbit/s, so not failing) I can manually download the same resource in seconds or minutes, so it is not an issue with our bandwidth or the bandwidth of the server.

[2020-06-27 01:51] aaronfranke opened #326 "Customizer lists the 64-bit architecture as x64_64"
https://just-install.github.io/customizer.html

The architecture for 32-bit says x86, and the architecture for 64-bit says x64_64. The latter is a typo, it should never be x64_64, it is either x86_64, or it can be shortened to x64.

P.S. Not related to this issue, but why is `dotnet` only 32-bit, and why isn't there .NET Core?

[2020-06-27 02:32] shane-gramlich opened #327 "Changing install directory"
**Is there a supported way of changing the install directory for all packages? Specific packages?**

**Also, is there a way to change the install directory for 'just-install' itself?**

[code]
The output from the above command demonstrates that TARGETDIR is successfully set but never used. It seems the 'WindowsPath' property is being used. However, the property is ignored if I try to pass it at th

[2020-06-27 02:51] #326 closed

[2020-06-27 02:51] geek1011 commented on #326
That was indeed a typo, which I've now fixed. Thanks for reporting it.

[2020-07-04 11:55] mimi89999 commented on #327
Setting install path of packages in the registry is not supported by j-i. What do you need this feature for?

[2020-07-04 15:35] nixsee opened #329 "Trojan detected when creating custom installer"
Windows Defender tells me there is a trojan in this. Why?

![image](https://user-images.githubusercontent.com/24255237/86515904-baef0180-bdd9-11ea-9519-63948a970259.png)

[2020-07-04 15:53] geek1011 commented on #329
Probably a bad heuristic due to the nature of j-i, plus the fact it appends data to the end of the binary (i.e. it behaves like a dropper). I'll see what I can do about this.

[2020-07-04 15:55] geek1011 commented on #329
J-i itself is fine: https://www.virustotal.com/gui/file/0b8e771369c8016e459d9318124bfa50251e4ee4aa57fd716006a7e35c931cc9/detection.

[2020-07-04 16:22] nixsee commented on #329
I'm not entirely sure what that means - I just tried to download this link:

https://just-install.github.io/customizer.html#7zip,bitwarden,autohotkey,calibre,cryptomator,discord,etcher,everything-search,filezilla,flash-player,google-drive,notepad++,python3,qbittorrent,rufus,sharex,sharpkeys,sumatrapdf,vcredist-2005,vcredist-2008,vcredist-2012,vcredist-2010,vcredist-2013,vcredist-2015,vcredist-2017

[2020-07-04 16:58] mimi89999 commented on #329
With your installer: https://www.virustotal.com/gui/file/2c7b5e2ccbf85ef6f9db89d11f21e30d07a32fff858fae944ec43357ee3f5f41/detection

The signature shows it is heuristic, not a particular malware that was found: https://malwaretips.com/blogs/remove-trojanwin32fuery-acl/

[2020-07-04 17:46] nixsee commented on #329
Interesting - not sure why Windows Defender blocks it when it doesnt on Virus Total. Anyway, it looks safe enough to use...

[2020-07-04 18:41] mimi89999 opened #330 "Test app install in CI"
I think that it might be good to test app installs in CI. Several representative apps from the registry should be chosen and in CI j-i should try to install those apps.

[2020-07-04 18:58] geek1011 commented on #330
I'd probably do this in a separate repo with a GH action on a cron timer to keep things clean. Also, this will need us to keep track of how to determine if an app installed correctly (maybe a JSON file like `{"package": [{"file": "..."}, {"registry": "..."}]}`).

Note that I won't be working on this myself, as I don't currently have time to do so.

[2020-07-04 19:02] #329 closed

[2020-07-06 08:53] lvillani opened #331 "Backport appx and jetbrains-nsis and release 3.4.8"
See also #328

[2020-07-07 09:02] mimi89999 commented on #330
It will be binary. Either CI passed or CI failed. We can use j-i exit code.

Why can't this be part of standard j-i CI?

[2020-07-07 12:11] geek1011 commented on #330
It would take quite a bit longer to execute, and we probably want to run it periodically rather than on every commit. I guess the other alternative to this would be to have the pipeline only execute on cron rather than push.

[2020-07-07 13:21] mimi89999 commented on #330
But this won't be used for testing the registry, but for testing if a change in j-i didn't break something. We could choose something like 5 apps. It won't make the job longer to execute.

[2020-07-07 15:27] lvillani commented on #330
While I agree that having integration tests would be nice, I'm not sure whether to spend much time adding them, especially now that winget exists, and is officially developed by Microsoft. I expect new deployments to use winget, with just-install and others being used only when winget isn't available or doesn't yet support a niche feature.

[2020-07-07 15:34] mimi89999 commented on #330
I thought about something simple like in https://github.com/mimi89999/just-install/commit/53851851ba96b4fff8282c36edb0dc1783321979.

[2020-07-08 09:22] mimi89999 commented on #330
I'm following that project closely, but I won't change anytime soon. Their registry seems to be quite a mess. The biggest issue is that it can't be used for automatic deployments. With j-i I can just `curl` my custom build or load it from a smb share and I can start installing packages. With winget and other managers it's not that easy. I first need to deploy the manager on the machine itself whic

[2020-07-08 13:43] lvillani commented on #327
There is currently no support for specifying different install paths. At the moment there are no plans to implement this feature. I'm closing this issue for now, but it may be re-evaluated in the future.

[2020-07-08 13:43] #327 closed

[2020-07-08 14:48] lvillani commented on #330
Unless Microsoft does something weird, it should be pre-installed in future versions of Windows. At which point I expect it to become the de-facto default on "recent enough" versions of Windows.

Back to the topic: it appears that we can now create GitHub Actions [that are manually triggered](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#manual-events) so it's definite

[2020-07-08 14:49] lvillani commented on #323
Closing due to inactivity. Feel free to reopen if necessary.

[2020-07-08 14:49] #323 closed

[2020-07-08 17:22] lvillani commented on #331
@mimi89999 3.4.8 is up!

[2020-07-08 17:22] #331 closed

[2020-07-08 17:22] mimi89999 commented on #331
Thanks a lot for https://github.com/just-install/just-install/releases/tag/v3.4.8!

[2020-07-08 17:27] mimi89999 commented on #322
@aaronwi Is the lower download speed caused by j-i or the mirror you are downloading from? Could you tell me what apps where you installing?

[2020-07-08 17:29] mimi89999 commented on #324
@lvillani Could I hear your opinion on that one? Can I add an option to disable the progress bar and print something else instead? How should I call that option?

[2020-07-08 17:37] mimi89999 commented on #331
@lvillani The website still has `3.4.7`.

[2020-07-08 18:41] lvillani commented on #331
Darn, the binary is actually a 3.4.8. I forgot to bump files that are used to embed the version number... I forced-pushed a bunch of stuff to make things right (I know...😅)

[2020-07-08 18:46] mimi89999 commented on #331
Is that version the latest master or `3.4.7` with installers?

[2020-07-08 21:41] mimi89999 commented on #331
If it's latest master, then we also can add shell links.

[2020-07-12 06:48] lvillani commented on #331
It's not the latest master, it would be too risky to release the latest master as-is. Current master will become `4.0.0` some time in the future.

[2020-07-12 09:33] lvillani commented on #324
On Unix you would detect whether the program has a TTY attached, and automatically make a decision based on that. I don't know whether Windows has something similar. Speaking of command line switches: switches I've seen everything ranging from nothing (i.e. rely on the automatic behaviour alone) to `--noprogress` / `--no-progress` and stuff like that. I'm OK adding such options to the CLI.

[2020-07-17 18:11] johansgutierrez opened #334 "Just-Install customizer error"
[code]
[code]
[code]

[2020-07-17 18:36] pgaskin commented on #334
Which browser are you using, and are you behind a corporate proxy?

[2020-07-17 20:24] johansgutierrez commented on #334
Google Chrome, and EDGE Chromium, I don't use any proxy.

[2020-07-17 21:43] pgaskin commented on #334
Can you post the specific error message from the console in Developer Tools?

[2020-07-18 10:08] lvillani opened #335 "Remove dependency on releng"
`releng` is/was a tool I made to automate the release process of software applications. It was an experiment and I'm still undecided about its design (to the point that I have since unpublished it). This is the last of my projects still using it. Forgetting to use releng already caused a release mishap. We should use a git-driven process to extract the version number, like most projects do nowaday

[2020-08-02 15:03] #324 closed

[2020-08-06 15:30] lvillani commented on #322
Closing due to inactivity. Feel free to re-open if necessary.

[2020-08-06 15:30] #322 closed

[2020-08-09 16:20] jascodes opened #336 "Feature Request: Faster download with piece split"
Some of packages are downloading slow due to speed from server. But if the download is split into multiple pieces the download speed can be improved.

[2020-08-09 16:25] jascodes opened #337 "Feature Req: just-install search"
for searching repo

[2020-08-09 16:41] jascodes opened #338 "Question: Backup and restore"
Is there any file which have record of installed programs? any maybe commands to restore?

[2020-08-09 19:22] mimi89999 commented on #338
Just-install doesn't record install logs nor keeps a list of installed apps.

[2020-08-09 19:24] mimi89999 commented on #337
Just-install doesn't have entry descriptions and the registry doesn't have that many apps. I doubt that searching through entry names would be very useful.

[2020-08-09 19:28] mimi89999 commented on #336
I doubt that it would help. Slow servers are usually the only servers with a certain file and mirrors and anycast servers are usually run by big orgs and they can serve resources much faster that any user could be downloading.

In what case could this help?

[2020-08-09 19:45] jascodes commented on #336
I meant just like download manager which split the same file and download it in pieces to make download fast.Scoop implemented upon my request and it works like magic. https://github.com/lukesampson/scoop/issues/2306

[2020-08-09 19:51] jascodes commented on #337
@mimi89999 Well the list is gonna grow, infact I will be putting on in and that ain't gonna be last one. Anyhow I don't care about description, I am looking for name of the app. So lets say I want to install epic launcher. I just wanna search epic keyword to get the app name. Right now have to look it up.

[2020-08-09 19:54] jascodes commented on #338
Hmm... don't you think its helpful? I would say keep it simple and have local copy of registry have installed key true or false. That should be enough.

[2020-08-09 20:14] mimi89999 commented on #336
Could you please give examples of entries/installers that are in the registry or that you plan to add for which you see a download speed improvement?

[2020-08-11 13:29] lvillani commented on #338
The correct way would be to query the system whether a package is installed or not. If we store a flag ourselves it would get out of sync with the system really quickly, to the point of being essentially worthless. There are currently no plans to implement this feature. I'm closing this issue for now. It may be re-evaluated in the future.

[2020-08-11 13:29] #338 closed

[2020-08-11 13:46] lvillani commented on #337
You can achieve the same by running `just-install.exe | findstr epic`. No need to implement a custom command 😉. Closing.

[2020-08-11 13:46] #337 closed

[2020-08-11 13:51] lvillani commented on #336
Thanks for your feature request. There are currently no plans to implement a download manager or integrate an external one (e.g. aria2c). Even though it seems a simple feature it adds up development and testing overhead that we cannot bear at the moment. Closing, will re-evaluate at a later time.

[2020-08-11 13:51] #336 closed

[2020-08-11 14:00] pgaskin commented on #337
There's also the just-install customizer.

[2020-09-10 19:20] gregdeichler opened #339 "Gimp asking "Install for All Users or Install for me only" on install..."
Hello. Are there any switches available to answer the Gimp installer? When I attempt to install Gimp using "just-install gimp" I get a popup asking "Install for All Users or Install for me only" on install.

Thanks.

[2020-09-10 19:21] gregdeichler opened #340 "Gimp installer asking "Install for All Users or Install for me only" on install..."
Hello. Are there any switches available to answer the Gimp installer? When I attempt to install Gimp using "just-install gimp" I get a popup asking "Install for All Users or Install for me only" on install.

Thanks.

[2020-09-10 19:21] #339 closed

[2020-09-10 19:22] gregdeichler commented on #339
Duplicate

[2020-09-10 19:52] mimi89999 commented on #340
I will look into this.

[2020-09-10 21:52] mimi89999 commented on #340
@lvillani We forgot to backport https://github.com/just-install/just-install/commit/91e83e8cba58a80e94050a2f6f8471f6b64f7459 to the latest release. It was in the previous release.

I think that you should either create a stable branch and commit backports there not to forget them or make a new release from master. I'm using https://github.com/just-install/just-install/commit/ecf0d6a3c0d5b5154b742f

[2020-09-11 23:03] aaronwi commented on #323
any application, microsoft runtimes for example

[2020-09-15 15:49] lvillani commented on #323
The exit code should be enough to tell whether everything went ok or not. Testing whether an application is already installed is not something we do, nor we plan to do for the foreseeable future.

[2020-09-15 15:52] lvillani commented on #340
Heh, as soon as I find the time and energy to add missing stuff to the `pkg-registry4` I think we can start stabilising master for the next release. I'll backport the commit above and make a new release for the time being.

[2020-09-15 15:53] lvillani commented on #334
Closing due to inactivity. Feel free to re-open if necessary.

[2020-09-15 15:53] #334 closed

[2020-09-15 18:38] lvillani commented on #340
Should be fixed in v3.4.9

[2020-09-15 18:38] #340 closed

[2020-09-16 09:36] mimi89999 opened #342 "Reconsider interactive installers"
Having interactive installers is good for some users because at least they don't have to download and launch them. However it's against j-i logic and is bad for admins and automatic deployments. They must be extra careful not to add them to the deployment list because the deployment will just hang. They are neither marked on the website nor in the list. Only during the deployment there is a warnin

[2020-10-04 16:14] #273 closed

[2020-10-09 08:33] #218 closed

[2020-10-09 08:34] lvillani commented on #335
Should be done as of 3bfb571c859469c3e74561866b6d175e0dce126f

[2020-10-09 08:34] #335 closed

[2020-12-05 12:25] lvillani commented on #342
After thinking about this for a while, I agree with you. We should remove support for interactive installers within j-i and also update our registry contribution policies.

See also: https://github.com/just-install/registry/issues/240

[2020-12-05 12:27] lvillani commented on #342
Please note that I prefer to remove support for interactive installers altogether and refuse their addition to the registry. I'm leaning on the side of lessening our support burden as much as possible since we don't have the manpower to handle these special cases.

[2020-12-08 11:08] #342 closed

[2020-12-08 11:20] lvillani commented on #321
We can probably try with something like `--redownload` or `--redownload-installer` or `--overwrite` (`--overwrite-installer`). `wget` uses "clobber" for this albeit I find the terminology a bit arcane.

[2020-12-08 11:23] lvillani commented on #248
I'm closing this for now since we don't have the resources to handle this process. Will re-evaluate in the future.

[2020-12-08 11:23] #248 closed

[2020-12-08 11:26] lvillani commented on #231
I think we removed the need for this with policy changes and vendor changes in the upcoming version (e.g. we don't provide Oracle's JRE/JDK anymore). Can we close this for the time being?

(The new HTTP client _should_ support this use-case even though the registry doesn't expose it, so at least some of the work is already done. Architecturally it's the right thing to do, of course, but I don't th

[2020-12-08 16:13] #231 closed

[2020-12-08 16:15] pgaskin commented on #321
I think all options like this should be prefixes with `--force` or something similar. But, for `--redownload`, why not use `--no-cache` or `--ignore-cache`.

[2020-12-13 14:19] lvillani commented on #321
I'm going with `--ignore-cache`.

[2020-12-13 14:31] #321 closed

[2020-12-16 12:49] aaronwi commented on #323
But if an application is already installed, it appears to prematurely abort the entire process, instead of just skipping at least.

[2020-12-24 16:05] VladPutinEu opened #345 "How do I update packages?"
Does just-install have a feature that updates packages after I have installed them? If so, how do I use that feature?

[2020-12-24 16:09] mimi89999 commented on #345
Hello,
just-install does not support updating packages, however running `just-install package` will run the new installer and that should update your package.

[2020-12-24 16:13] VladPutinEu commented on #345
When I run that it says `WARNING: Unknown package package`

[2020-12-24 16:15] mimi89999 commented on #345
Replace `package` with the name of your package. I meant use just-install as if you were installing the app for the first time.

[2020-12-24 16:21] VladPutinEu commented on #345
Is there a feature that I can use the check which apps are out of date?

[2020-12-24 16:31] mimi89999 commented on #345
No

[2020-12-24 16:35] VladPutinEu commented on #345
Thanks for the help. I'm looking for a package manager that lets me easily update apps. I guess I must go back to looking for a package manager.

[2020-12-24 16:35] #345 closed

[2021-06-08 21:34] danielsherratt opened #346 "Skip if already upto date"
Hi there, is it possible for the app to skip the package if it already has the latest installed? Daniel

[2021-06-08 22:13] danielsherratt commented on #346
I suspect it wont be possible as some of the versions are "latest", it would also mean having to add a installed path in so the program could check it, which you don't want to do for every package as it would be very time consuming

[2021-06-09 08:31] mimi89999 commented on #346
j-i also doesn't save a list of installed packages, so it can't know if a package was installed.

[2021-06-09 22:10] danielsherratt commented on #346
Ok thanks!, I've altered my script to check every 30days, I think its safe to assume there will be an update monthly for Notepad++ and other various software

[2021-06-09 22:10] #346 closed

[2021-09-07 02:45] timint opened #347 "[Feature Request] List installed and update installed"
Love the simplicity of this tool and happy that I found it. Great work!

To get even more use of it, I would love to see the ability to identfy and list installed apps that are supported.
And the ability to update them would make this tool pretty much as useful as yum, dnf and apt package managers. 🙂

[2021-09-27 13:19] PantACRO4life opened #348 "Please fix the issue for virus report with it."
https://www.virustotal.com/gui/file/78e5fdbb7d94e28c4273b1d52681f97318c2ad39c2fa2c0cadb82827acf700a1

[2021-10-09 19:04] timint commented on #347
Thanks for the tip. Winget is builtin Windows 11. `winget export` and `winget upgrade` does the trick

[2022-07-27 14:05] iizquierdo opened #349 "ERROR just-install eclipse-java"
When running the just-install eclipse-java command, the following error is returned:

[code]

[2022-08-01 18:21] lvillani commented on #349
This project is being kept for archival purposes only. I suggest you to switch to [winget](https://docs.microsoft.com/en-us/windows/package-manager/winget/). We'll add a notice to the website and archive the main repository in the coming weeks.

[2022-08-01 18:21] #349 closed, assigned to nobody